/*------------------------- Clearfix -------------------------*/
.clearfix:before,
.clearfix:after,
.pagination:before,
.pagination:after,
.page-nav:before,
.page-nav:after,
.com-pro-nam-frm .fld-axn:after,
.com-pro-nam-frm .fld-axn:before,
.ful-nam-pr-cr:after,
.ful-nam-pr-cr:before,
.stat-pr-cr:after,
.stat-pr-cr:before,
.com-acct-inf-mn-ct .mn-pr-cr:after,
.com-acct-inf-mn-ct .mn-pr-cr:before,
.com-acct-inf-mn-frm .fld-axn:after,
.com-acct-inf-mn-frm .fld-axn:before,
.lnk-acct-ls li:after,
.lnk-acct-ls li:before,
.com-mus-inf-ct:after,
.com-mus-inf-ct:before,
.mus-inf-pr-cr:after,
.mus-inf-pr-cr:before,
.com-mus-ct .mus-lst li:after,
.com-mus-ct .mus-lst li:before,
.srch-frm .fld-axn:after,
.srch-frm .fld-axn:before,
.com-pro-avtr-ct .avtr-pic-cr:after,
.com-pro-avtr-ct .avtr-pic-cr:before,
.com-si-sn-ls:before,
.com-si-sn-ls:after,
.ui-dialog .fld-axn:after,
.ui-dialog .fld-axn:before,
.com-mus-ct:after,
.com-mus-ct:before,
.ui-dialog-ct:after,
.ui-dialog-ct:before,
.ui-dialog > div > div:after,
.ui-dialog > div > div:before,
.cont-det-axn:after,
.cont-det-axn:before ,
.com-cont-def-cr .fld-axn:after,
.com-cont-def-cr .fld-axn:before,
.component-contacts #content:after,
.component-contacts #content:before,
.com-cont-srch-ct:after,
.com-cont-srch-ct:before,
.stat-frm-ctrl-cr:after,
.stat-frm-ctrl-cr:before,
.ui-toolbar-ct:after,
.ui-toolbar-ct:before,
.cont-det-axn-cr:after,
.cont-det-axn-cr:before,
.select-all-cr:after,
.select-all-cr:before,
.ui-toolbar-msg-axn:after,
.ui-toolbar-msg-axn:before,
.com-comp-msg .fld-comp:after,
.com-comp-msg .fld-comp:before,
.com-comp-share .fld-comp:after,
.com-comp-share .fld-comp:before,
.msg-conv-lst:after,
.msg-conv-lst:before,
.selected-rec-lst:after,
.selected-rec-lst:before,
.com-msgs-ct:after,
.com-msgs-ct:before,
.suggest-cont-info:after,
.suggest-cont-info:before,
.share-msg-cr:before,
.share-msg-cr:after,
.date-msg-lst:before,
.date-msg-lst:after,
.date-msg-lst > li:before,
.date-msg-lst > li:after {
    content: " ";
    display: table;
}
 
.clearfix:after,
.pagination:after,
.ful-nam-pr-cr:after,
.stat-pr-cr:after,
.com-acct-inf-mn-ct .mn-pr-cr:after,
.lnk-acct-ls li:after,
.com-mus-inf-ct:after,
.mus-inf-pr-cr:after,
.com-mus-ct .mus-lst li:after,
.srch-frm .fld-axn:after,
.com-pro-avtr-ct .avtr-pic-cr:after,
.com-si-sn-ls:after,
.ui-dialog .fld-axn:after,
.com-mus-ct:after,
.ui-dialog-ct:after,
.ui-dialog > div > div:after,
.cont-det-axn:after,
.com-cont-def-cr .fld-axn:after,
.component-contacts #content:after,
.com-cont-srch-ct:after,
.stat-frm-ctrl-cr:after,
.ui-toolbar-ct:after,
.cont-det-axn-cr:after,
.select-all-cr:after,
.ui-toolbar-msg-axn:after,
.com-comp-msg .fld-comp:after,
.msg-conv-lst:after,
.selected-rec-lst:after,
.com-msgs-ct:after,
.suggest-cont-info:after,
.share-msg-cr:after,
.com-comp-share .fld-comp:after,
.date-msg-lst:after,
.date-msg-lst > li:after {
    clear: both;
}
 
.clearfix,
.pagination,
.page-nav,
.com-pro-nam-frm .fld-axn,
.ful-nam-pr-cr,
.stat-pr-cr,
.com-acct-inf-mn-ct .mn-pr-cr,
.com-acct-inf-mn-frm .fld-axn,
.lnk-acct-ls li,
.com-mus-inf-ct,
.mus-inf-pr-cr,
.com-mus-ct .mus-lst li,
.srch-frm .fld-axn,
.com-pro-avtr-ct .avtr-pic-cr,
.com-si-sn-ls,
.ui-dialog .fld-axn,
.com-mus-ct,
.ui-dialog-ct,
.ui-dialog > div > div,
.cont-det-axn,
.com-cont-def-cr .fld-axn,
.component-contacts #content,
.com-cont-srch-ct,
.stat-frm-ctrl-cr,
.ui-toolbar-ct,
.cont-det-axn-cr,
.select-all-cr,
.ui-toolbar-msg-axn,
.com-comp-msg .fld-comp,
.com-comp-share .fld-comp,
.msg-conv-lst,
.selected-rec-lst,
.com-msgs-ct,
.suggest-cont-info,
.share-msg-cr,
.date-msg-lst,
.date-msg-lst > li {
    *zoom: 1;
}
 
/*------------------------- Hide visually -------------------------*/
.visuallyhidden,
.page-nav .label,
legend,
.at,
form label,
.cm-cr .lbl,
.com-welcome-tour .ps-frame-content {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
 
/*------------------------- Hidden Elements -------------------------*/
.com-si-pr .txt-ttl,
.com-v5-sign-in-link .txt-title,
.com-pro-cont-cr header .txt-ttl,
.com-cont-det-axn-cr header .txt-ttl,
.com-cont-det-cr header .txt-ttl,
.com-pro-pr header .txt-ttl,
.com-edit-mn-frm .txt-desc,
.mus-ctrl-cr,
.mus-opts-cr,
.com-sett-cr > header > .txt-ttl,
.com-brnd .txt-ttl,
.com-si-cr > header > .txt-ttl,
.com-msg-lst .txt-ttl,
.com-msgs .txt-ttl,
.com-msg-conv .com-msg-conv-ct > .fld-axn,
.com-share-sms .txt-title,
.com-share-sms .txt-ttl,
.ui-popover,
.ui-dialog,
.page-not-signed-in .nav-menu > .nav-menu-pri,
.com-pro-pr,
.com-msg-lst-ct .msg-lst-cr > .fld-axn,
.com-set-avtr,
.com-cont-det-menu,
.com-pro-stat-frm .fld-axn .psu-btn-pos,
.add-as-rec-lnk-cr,
.contacts-as-rec .send-msg-lnk-cr,
div.ui-toolbar-msg-multi p.cont-lnk-cr,
.select-all-cr,
.com-cont-inf-ct .psu-chk,
.com-pro-cont-ct section > .fld-axn,
.msg .prof-nam,
.msg-conv-lst .psu-chk,
.share-msg-cr .psu-chk,
.selected-cont-info .cont-mob,
.cont-suggest,
.page-messages .com-pro-cont,
.page-messages .com-cont-det,
.com-msg-inf-ct .psu-chk,
.com-atth-music,
.com-mus-menu,
.com-cont-det-menu,
.com-cont-srch-menu,
.com-msg-thrd-menu,
.com-msg-view-menu,
.com-edit-mn-frm .txt-ttl,
.com-sign-out .txt-title,
.com-migration .com-si-sn .txt-ttl,
.com-mobile-link-account .com-si-sn .txt-ttl,
.page-mobile .site-footer,
.page-signed-in .sidebar-container,
.page-signed-in .site-info,
div.com-set-tone .fld-tone div.psu-btn-neg,
.avatar-off .com-cont-inf .cont-pic-lnk img,
.avatar-off .msg-inf-pr-cr .cont-pic-lnk,
.ui-toolbar-msg .ui-toolbar-msg-axn p.txt-ttl,
.delete-contacts-on .send-msg-lnk-cr {
    display: none;
}
 
.com-si-sn .txt-ttl {
    display: block;
}
 
.select-msgs .com-comp-msg {
    visibility: hidden;
}
 
/*------------------------- Image replacement -------------------------*/
.ir,
.com-si-sn-ls li a,
.com-acct-inf-lnk-acct-ct .lnk-acct-ls li:before {
    display:block;
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
 
.ir:before,
.com-si-sn-ls li a:before,
.com-acct-inf-lnk-acct-ct .lnk-acct-ls li:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}
 
/*------------------------- Form generic styles -------------------------*/
.psu-inp-cc{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -0.05em;
    width: 5.25em;
    height: 100%;
}
 
.psu-inp-cc-mn select {
    height: 100%;
}
 
.psu-inp-mn{
    padding-left: 5.5em;
}
 
.psu-inp-cc-mn{
    position:relative;
}
 
/*------------------------- Text -------------------------*/
.cont-inf-cr h1,
.com-pro-stat-cr .txt-ttl,
.com-group-detail-cr > header .text-title,
.prof-inf-pr-cr .txt-ttl,
.com-sett .txt-ttl,
.com-credits-parent .txt-title,
.com-sharing-parent .txt-title {
    padding-top: 1em;
    margin: 0 0.75em;
}
 
.com-pro-pr .com-pro-stat-cr .txt-ttl,
.com-prof-acct-inf .prof-inf-pr-cr header .txt-ttl,
.com-pro-pr .com-edit-pro-name header .txt-ttl,
.com-rp .txt-ttl {
    display:block;
}
 
.txt-desc {
    margin:0;
}
 
/*------------------------- Input -------------------------*/
.com-edit-cont .fld-cc-mn,
.com-cont-add .fld-cc-mn,
.com-su .fld-cc-mn {
    margin-top: 1em;
}
 
.com-cont-add .fld-axn,
.com-edit-cont .fld-axn {
    margin-top: 0.5em;
}
 
/*------------------------- Reset -------------------------*/
.stat-frm-ctrl-ct .fld-axn,
.com-acct-inf-lnk-acct-ct .lnk-acct-ls,
.com-acct-inf-lnk-acct-ct .lnk-acct-ls li p,
.com-mus-ct .mus-lst,
.com-stat-mus-st .stat-mus-ls,
.com-msg-lst-items .entry-meta,
.com-si-sn-ls,
.com-set-avtr-ct ul,
.com-pro-cont-ct .fld-axn,
.com-group-detail .fld-axn,
.ui-toolbar-msg .add-cont-lnk-cr,
.com-comp-msg .fld-axn,
.com-comp-share .fld-axn,
.com-msg-lst-ct .msg-lst-cr > .fld-axn,
.page-sign-in div.com-si-pr,
.page-sign-up div.com-su,
#rp-vc .fld-axn,
.ui-toolbar-compose-msg .ui-toolbar-msg-axn,
div.com-need-help .txt-title,
div.com-share .txt-title,
.com-mobile-link-account .com-si-sn {
    margin: 0;
}
 
.com-si-sn-ls,
.com-set-avtr-ct ul,
.com-pro-stat-frm p.txt-desc,
.com-cont-det-cr .cont-pic-cr,
.avtr-pic-img-cr,
.ui-toolbar-msg-lst .ui-toolbar-ct,
.psu-chk input[type="checkbox"],
.com-acct-inf-lnk-acct-ct .lnk-acct-ls,
.com-mus-ct .mus-lst,
.com-stat-mus-st .stat-mus-ls,
.com-msg-lst-items .msg-inf-pr-cr,
.com-migration .com-si-sn,
div.com-need-help > div,
div.com-share > div,
.com-mobile-link-account .com-si-sn {
    padding: 0;
}
 
/*------------------------- Box-sizing -------------------------*/
.ui-drawer,
.ui-drawer > div,
.ui-toolbar,
.com-msg-thrd,
.com-share-sms-cr,
.msg-conv-lst,
.suggest-cont-info .cont-info-cr,
.suggest-cont-info,
.ui-drawer > div > div,
.com-welcome .welcome-text-cr,
.com-welcome .fld-axn,
.ui-toolbar-msg .cont-inf-pr-cr .cont-inf-cr,
.com-pro-cont .cont-inf-cr,
.com-group-detail .cont-inf-cr,
.com-comp-msg .fld-comp {
    -webkit-appearance: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
/*------------------------- Cursor -------------------------*/
.chg-avtr-frm,
.chg-mus-frm,
.chg-avtr-frm .fil-avtr,
.chg-mus-frm .fil-mus,
.select-all-cr .psu-chk label,
.sett-cont .hide-avtr-lbl,
.cont-pic-cr img,
.suggest-cont-info,
.com-msg-inf,
.com-cont-inf {
    cursor: pointer;
}
 
/*------------------------- UI Dialog -------------------------*/
.ui-dialog,
.avtr-pic-cr div.avatar-full,
.com-cont-det .cont-pic-cr.avatar-full {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 1000;
    max-height: none;
    overflow: auto;
}
 
.page-mobile .ui-dialog {
    min-width: 0;
}
 
.ui-dialog > div {
    left: 50%;
    position: absolute;
    top: 25%;
    margin-left: -8.5em;
    z-index: 2000;
    position: absolute;
}
 
.com-pro-pr .com-edit-pro-name-cr,
.com-pro-pr .com-pro-stat-frm > fieldset,
.com-pro-pr .com-edit-mn-cr {
    top: 18em;
    left: 17.5em;
}
 
.com-pro-pr .com-edit-mn-cr {
    top: 25em;
}
 
.com-pro-pr .com-pro-stat-frm > fieldset {
    top: 20em;
    width: 20em;
    left: 6em;
}
 
.com-welcome-tour .com-welcome-tour-cr {
    top: 15%;
}
 
.ui-dialog .fld {
    margin-bottom: 0.5em;
}
 
.ui-dialog .fld-axn {
    margin: 1em 0 0;
    float: right;
}
 
.ui-dialog .fld-axn .psu-btn-pri {
    float: right;
}
 
.ui-dialog .fld-axn .psu-btn-neg {
    margin: 0 0.5em;
    float: left;
}
 
.ui-dialog .dismiss-link-cr {
    position: absolute;
    top: -0.125em;
    right: -0.125em;
}
 
.ui-dialog .dismiss-link {
    display: block;
    padding: 0.5em;
}
 
div.com-credits > div,
div.com-share > div {
    padding-bottom: 0;
}
 
/*------------------------- Drawer -------------------------*/
.ui-drawer {
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    float: left;
}
 
.ui-drawer > div {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 5;
    height: 100%;
}
 
.ui-drawer.drawer-active > div {
    z-index: 7;
}
 
.ui-drawer > div.com-sett-cr {
    width: auto;
}
 
.com-cont-det-cr,
.com-pro-pr-cr,
.com-sett-cr {
    padding-top: 3.5em;
}
 
.com-pro-pr .stat-pr-cr,
.com-prof-acct-inf .prof-inf-pr-cr > section > div > div > div,
.com-cont-det .cont-stat-cr,
.com-cont-det .cont-mob-cr,
.com-sett .view-credits-lnk,
.com-sett .share-lnk,
.com-sett .sett-cont .psu-chk label,
.com-sett .sett-acct .term-acct-lnk,
.com-sett .sett-alerts .set-tone-lnk,
.com-group-name {
    display: block;
    padding: 0.9em;
    padding-left: 1.25em;
    padding-right: 1em;
}
 
.select-all-cr .inp-chk-del {
    float: left;
}
 
.select-all-cr .psu-chk label {
    float: right;
}
 
/*------------------------- Toolbar -------------------------*/
.com-cont-det .ui-toolbar,
.com-pro-pr .ui-toolbar,
.com-group-detail .ui-toolbar,
.com-sett .ui-toolbar {
    z-index: 2;
    position: fixed;
    overflow: hidden;   
    top: 7.35em;
    left: 0;
    width: 100%;
}
 
.com-pro-pr .ui-toolbar {
    z-index: 11;
}
 
div.com-pro-cont-cr,
div.com-cont-det-cr {
    width: auto;
}
 
.com-cont-det .ui-toolbar {
    overflow: visible;
}
 
.ui-toolbar-settings header .txt-title,
.ui-toolbar-group-detail header .text-title,
.ui-toolbar-profile header .txt-title {
    position: absolute;
    left: 2.25em;
    top: 30%;
}
 
.ui-toolbar-ct {
    position: relative;
    padding-left: 2em;
    min-height: 3.5em;
}
 
.com-sett.ui-drawer > div > div,
.ui-drawer > div,
.com-cont-det .avatar-full .pic-img,
.com-pro-avtr .avatar-full .avtr-pic-img,
.com-cont-det .cont-pic-cr img {
    width: 100%;
    max-width: 100%;
}
 
div.ui-toolbar-contact-detail > div,
div.ui-toolbar-settings > div,
div.ui-toolbar-profile > div {
    background-color: #FFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 1px;
}
 
/*------------------------- Message toolbar -------------------------*/
.ui-toolbar-msg > .ui-toolbar-cr,
.ui-toolbar-compose-msg > .ui-toolbar-cr {
    width: auto;
}
 
.ui-toolbar-msg .ui-toolbar-ct,
.ui-toolbar-share-multi .ui-toolbar-ct {
    height: auto;
    padding-left: 0;
}
 
.ui-toolbar-msg {
    position: relative;
    left: 2px;
}
 
.ui-toolbar-msg .cont-pic-lnk-cr img {
    width: 100%;
    height: 100%;
}
 
.ui-toolbar-msg .cont-inf-pr-cr .cont-pic-lnk {
    float: none;
}
 
.ui-toolbar-msg .ui-toolbar-msg-axn {
    margin: 0.5em;
    margin-right: 0;
}
 
.ui-toolbar-msg .ui-toolbar-msg-axn p,
.ui-toolbar-msg .ui-toolbar-msg-axn .msg-thrd-opts {
    display: block;
    float: left;
}
 
.ui-toolbar-msg .ui-toolbar-msg-axn p a {
    padding: 0.5em;
    display: inline-block;
}
 
.ui-toolbar-msg .ui-toolbar-msg-axn p .msg-thrd-opts-link  {
    padding: 0.5em 0.25em;
}
 
.ui-toolbar-msg .msg-thrd-opts {
    position: relative;
}
 
.ui-toolbar-contacts-axn,
.ui-toolbar-msg-axn,
.ui-toolbar-group-detail-axn {
    position: absolute;
    right: 0;
    top: 0;
}
 
.ui-toolbar-msg .add-cont-lnk-cr
.ui-toolbar-msg .cont-lnk-cr,
.ui-toolbar-msg .com-msg-cont-inf {
    float: left;
}
 
.ui-toolbar-msg-multi .com-msg-cont-inf .cont-inf-pr-cr .cont-inf-cr,
.ui-toolbar-share-multi .com-msg-cont-inf .cont-inf-pr-cr .cont-inf-cr {
    width: 100%;
    height: 3em;
    padding-top: 0.2em;
    padding-right: 3.25em;
}
 
.ui-toolbar-contact-detail .cont-det-axn > li,
.ui-toolbar-msg .com-msg-cont-inf .cont-pic-lnk-cr {
    float: left;
}
 
.ui-toolbar-msg .cont-inf-pr-cr .cont-pic-lnk {
    display: block;
    margin-right:0;
}
 
.ui-toolbar-msg .cont-pic-lnk-cr,   
.com-msg-lst-items .cont-pic-lnk img,
.com-group-detail .cont-pic-lnk img,
.com-pro-cont .cont-pic-lnk img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    display: block;
}
 
.ui-toolbar-msg .cont-inf-pr-cr .cont-inf-cr {
    width: 100%;
    display: block;
    padding: 0.5em 9em 0.125em 4.5em;
    position: absolute;
}
 
.ui-toolbar-msg .cont-inf-pr-cr .cont-inf-cr a {
    display: block;
    width: 100%;
}
 
.ui-toolbar-msg-multi .cont-inf-pr-cr .cont-inf-cr a {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}
 
.ui-toolbar-msg .com-msg-cont-inf .cont-nam-lnk .lbl {
    white-space: nowrap;
    overflow: hidden;
    width: 65%;
    display: block;
    text-overflow: ellipsis;
}
 
.ui-toolbar-msg .stat-disp {
    display: none;    
}
     
.ui-toolbar-compose-msg .ui-toolbar-ct,
.ui-toolbar-compose-share-sms .ui-toolbar-ct {
    padding:.5em;
    height: auto;
    min-height: 0;
}
 
.ui-toolbar-compose-share-sms .ui-toolbar-cr {
    display: inline-block;
}
 
.ui-toolbar-compose-msg .ui-toolbar-ct {
    padding-bottom: 0.25em;
}
 
.ui-toolbar-compose-msg .ui-toolbar-msg-axn {
    bottom: 0;
    top: auto;
}
 
.ui-toolbar-compose-msg .add-rec {
    float: left;
}
 
.ui-toolbar-msg-multi .cont-inf-cr,
.ui-toolbar-share-multi .cont-inf-cr {
    margin: 0.25em 0;
    padding-bottom: 0.25em;
}
 
/*------------------------- Message list toolbar -------------------------*/
.ui-toolbar-msg-lst .com-cont-srch {
    padding: 0 5em 0 0.75em;
}
 
.ui-toolbar-msg-lst .com-cont-srch,
.ui-toolbar-contacts .com-cont-srch {
    margin-top: 0.5em;
}
 
.ui-toolbar-msg-lst .fld-kw {
    position: relative;
}
 
.ui-toolbar-msg-lst .fld-kw {
    width: 91%;
}
 
.ui-toolbar-contacts .fld-kw {
    width: 100%;
}
 
.ui-toolbar-msg-lst .ui-toolbar-msg-lst-axn {
    position: absolute;
    right: 0;
    top: 0;
}
 
.ui-toolbar-msg-lst .msg-srch-opts {
    float: left;
}
 
/*------------------------- Contact toolbar -------------------------*/
.ui-toolbar-contact-detail .cont-det-axn > li a,
.ui-toolbar-contact-detail .cont-det-opts-link,
.ui-toolbar-contacts .add-cont-lnk,
.ui-toolbar-contacts .cont-srch-opts-link,
.msg-srch-opts-link,
.group-message-lnk,
.comp-msg-lnk {
    padding: 0.75em 0.5em;
    display: block;
}
 
.group-message-lnk-cr,
.comp-msg-lnk-cr {
    float: left;
}
 
.ui-toolbar-contact-detail .cont-det-axn {
    float: left;
}
 
.ui-toolbar-contact-detail .cont-det-opts {
    position: relative;
    float: left;
}
 
.ui-toolbar .fld-kw .srch-lnk-cr {
    position: absolute;
    right: 2px;
    top: 2px;
}
 
.ui-toolbar-contacts .com-cont-srch {
    padding: 0 7em 0 0;
}
 
.select-contacts-on .ui-toolbar-contacts .com-cont-srch {
    padding: 0 2em 0 0;
}
 
.ui-toolbar-contacts .com-cont-srch-frm {
    float: left;
    width: 100%;
}
 
.ui-toolbar-contacts .fld-kw {
    left: 0.5em;
    position: relative;
    float: left;
}
 
.ui-toolbar-contacts .psu-inp-kw input[type="search"] {
    padding-right: 2.5em;
}
 
.ui-toolbar-contacts .cont-srch-opts {
    position: relative;
    float: left;
}
 
.ui-toolbar-contacts .add-cont-lnk-cr {
    float: left;
}
 
.dismiss-toolbar-link-cr {
    left: 0;
    margin-top: -12px;
    position: absolute;
    top: 50%;
}
 
.com-cont-srch .inp-txt-kw {
    padding-right: 2.5em;
}
 
/*------------------------- Selected contacts -------------------------*/
.scroll-contacts .selected-rec-lst {
    max-height: 4.1rem;
    overflow-y: scroll;
}
 
.selected-cont-info {
    position: relative;
    padding-right: 2.5em;
    margin: 0.1em .35em .35em 0;
    float: left;
}
 
.selected-cont-info .cont-pic {
    display:inline-block;
    margin-right: 0.75em;
}
 
.selected-cont-info .cont-nam {
    display:inline-block;
}
 
.selected-cont-info .cont-nam .lbl {
    text-overflow: ellipsis;
    max-width: 13em;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}
 
.selected-cont-info .cont-pic img {
    width: 26px;
    height: 26px;
}
 
.selected-cont-info:last-child{
    margin-right:0;
}
 
.selected-cont-info .dismiss-link-cr {
    position: absolute;
    right: 0;
    top: 0;
}
 
.selected-cont-info .cont-mob {
    bottom: 0;
    margin-bottom: -1.5em;
    margin-right: -1em;
    padding: 0.25em 0.5em;
    position: absolute;
    right: 0;
    z-index: 88;
}
 
.selected-cont-info:hover .cont-mob {
    display:block;
}
 
/*------------------------- Select all -------------------------*/
.select-all-cr {
    padding:.5em 0;
}
 
.select-all-cr .psu-chk {
    margin: 0 0.5em;
    overflow: hidden;
    width: 5.5em;
}
 
.select-all-cr .psu-chk label {
    display: block;
    height: auto;
    position: static;
    width: auto;
}
 
.select-all-cr .inp-chk-del {
    margin-top: 0.25em;
    width: auto;
}
 
.select-on .select-all-cr {
    display: block;
}
 
/*------------------------- Popover -------------------------*/
.ui-popover .fld-axn,
.ui-popover .fld-axn:only-child,
.ui-popover .fld-axn:last-child {
    margin: 1em;
}
 
.com-set-avtr.ui-popover .fld-axn {
    margin: 0;
}
 
.ui-popover li a,
.com-set-avtr.ui-popover .psu-btn a,
.pop-over li a,
.com-cont-srch-menu li a {
    display: block;
    padding: 0.65em 2em 0.65em 1em;
}
 
.ui-popover,
.com-mus-menu,
.com-cont-det-menu,
.com-cont-srch-menu,
.com-msg-thrd-menu,
.com-msg-view-menu {
    background:#fff;
    white-space: nowrap;
    min-width: 12em;
    position: absolute;
    top: 18px;
    left:0;
    z-index: 10;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
}
 
.ui-popover,
.com-cont-srch-menu,
.com-cont-det-menu,
.com-set-avtr,
.com-msg-thrd-menu,
.com-msg-view-menu {
    right: 0;
    top: 100%;
    left: auto;
}
 
.com-pro-stat-ct .mus-opts-cr,
.com-cont-det .mus-opts-cr,
.cont-opts-lnk-cr,
.cont-srch-opts,
.msg-srch-opts {
    position:relative;
}
 
.com-set-avtr,
.com-cont-det-menu {
    position: absolute;
}
 
.com-cont-srch-menu .fld-axn {
    float: none;
}
 
/*------------------------- Blocks -------------------------*/
.page-sign-in .com-si-pr,
.page-sign-up .com-su,
.com-migration,
.com-v5-sign-in,
.com-v5-sign-in-link,
.com-vc,
.com-vc-cr {
    margin: 1em 0;
    padding: 1em;
}
 
/*------------------------- Sign up -------------------------*/
.page-not-signed-in #main-cr {
    margin: 0 auto;
    text-align: center;
}
 
.page-not-signed-in #primary {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
 
.page-not-signed-in #tertiary {
    text-align: left;
}
 
.page-sign-up .com-su {
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}
 
.su-btn-cr .lbl {
    color: #FFFFFF;
    display: block;
    margin: 0.5em 1em;
}
 
.com-su .com-si-sn {
    padding: 0;
}
 
/*------------------------- Verification code -------------------------*/
#rp-vc {
    margin-top: -1em;
}
 
.com-vc-cr {
    margin-top: 0;
}
 
#rp-vc .fld-vc,
.com-vc-form .fld {
    margin-bottom: 0;
}
 
#rp-vc .fld-axn,
#rp-vc .send-code-link-cr,
.com-vc-cr .fld-axn,
.com-vc-cr .send-code-link-cr {
    margin-top: 1.5em;
}
 
#rp-vc .fld-axn,
.com-vc-form .fld-axn {
    float: left;
}
 
#rp-vc .send-code-link-cr,
.com-vc-form .send-code-link-cr {
    float: right;
}
 
#rp-vc p.txt-desc {
    margin-top: 0;
    margin-bottom: 1em;
}
 
.com-vc-form .send-code-link-cr {
    float: right;
    margin-top: 2em;
}
 
 
/*------------------------- Reset password -------------------------*/
.ui-message .fld-axn {
    float: none;
    text-align: center;
}
 
.ui-message .fld-axn div.psu-btn {
    float: none;
}
 
/*------------------------- Welcome -------------------------*/
.com-welcome {
    display: block;
    text-align: center;
}
 
div.com-welcome > div {
    width: 90%;
    margin-left: -45%;
    top: 5%;
}
 
.com-welcome .welcome-banner-cr {
    margin-left: -1.1em;
    margin-right: -1.1em;
}
 
.com-welcome .v5-cr,
.com-welcome .v6-cr {
    margin-bottom: 1.5em;
}
 
.com-welcome .v5-cr p,
.com-welcome .v6-cr p {
    margin: 0.5em 0;
}
 
.com-welcome .v5-cr a,
.com-welcome .v6-cr a {
    display: inline-block;
}
 
.com-welcome .done-lnk-cr {
    margin-top: 2em;
}
 
.com-welcome .welcome-text-cr {
    margin: 1em 0 0.5em;
    padding: 1em;
}
 
.com-welcome .welcome-text-cr p {
    margin-bottom: 1em;
}
 
.com-welcome p.note {
    margin: 2em 0 0;
}
 
.com-welcome .fld-axn {
    padding: 1em;
    float: none;
}
 
.com-welcome .fld-axn .psu-btn {
    float: none;
}
 
/*------------------------- Dashboard welcome -------------------------*/
.com-v6-welcome {
    text-align: center;
    display: block;
}
 
div.com-v6-welcome > div {
    width: 660px;
    margin-left: -330px;
    top: 15%;
}
 
.com-v6-welcome .welcome-text-cr {
    margin: 1em 0 1.5em;
}
 
.com-v6-welcome .fld-axn {
    padding-top: 1em;
    float: none;
}
 
.com-v6-welcome .fld-axn .psu-btn {
    float: none;
}
 
.com-v6-welcome .txt-desc {
    margin-bottom: 1em;
}
 
.com-v6-welcome .fld-axn .skip-lnk-cr {
    margin-top: 0.5em;
}
 
.com-v6-welcome .welcome-v6-banner-cr {
    margin-left: -15px;
}
 
/*------------------------- Welcome Slider -------------------------*/
div.com-welcome-tour > div {
    width: 520px;
    margin-left: -260px;
}
 
.com-welcome-tour .fld-axn,
.com-welcome-tour .fld-axn .psu-btn {
    text-align: center;
}
 
.com-welcome-tour .picture-slider {
    width: 520px;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 3em;
    left: -15px;
    min-height: 280px;
}
 
.com-welcome-tour .ps-controls {
    position: absolute;
    left: 0;
    top: 5em;
}
 
.com-welcome-tour .ps-sheet {
    left: 0;
    top: 0;
    position: absolute;
}
 
.com-welcome-tour .ps-frame {
    position: absolute;
    top: 0;
    text-decoration: none;
}
 
.com-welcome-tour .ps-frame-content {
    margin: 1.5em;
    text-align: center;
}
 
.com-welcome-tour .ps-frame-image {
    display: block;
    position: static;
    margin: 0 auto;
    height: 200px;
}
 
.com-welcome-tour .ps-controls > div {
    width: 60px;
    background-image: url(img/arrows.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    cursor: pointer;
    max-height: 5em;
}
 
.com-welcome-tour .ps-controls .ps-left {
    left: 0;
}
 
.com-welcome-tour .ps-controls .ps-right {
    right: 0;
    background-position: -60px center;
}
 
.com-welcome-tour .ps-caption {
    width: 100%;
    margin-top: 15.5em;
    position: relative;
    top: 100%;
    min-height: 6.5em;
}
 
.com-welcome-tour .ps-caption p {
    margin: 0.25em 0;
    padding: 0 1em;
}
 
.com-welcome-tour .ps-caption .psu-btn {
    margin-top: 1em;
}
 
.com-welcome-tour .ps-caption .page {
    position: relative;
    top: 1.75em;
    left: 100%;
    margin-left: -7em;
    width: 6em;
}
 
.com-welcome-tour .ps-caption .note {
    display: block;
    margin-top: 1em;
}
 
.com-welcome-tour .fld-axn {
    position: relative;
    z-index: 1;
    margin-top: -3em;
    float: none;
}
 
.com-welcome-tour .fld-axn .psu-btn {
    float: none;
}
 
/*------------------------- Sign in -------------------------*/
.com-si .rst-pwd-lnk-cr {
    margin-top: 2em;
    text-align: right;
    float: right;
}
 
.com-si .txt-desc {
    margin-bottom: 1em;
}
 
/*------------------------- v5 Sign in -------------------------*/
.com-v5-sign-in .txt-desc {
    margin: 1em 0;
}
 
/*------------------------- v5 Sign in link -------------------------*/
.com-v5-sign-in-link .v5-sign-in-lnk {
    font-variant: small-caps;
}
 
/*------------------------- Sign in social -------------------------*/
.com-si-sn {
    margin-top: 1.5em;
    padding-top: 1em;
}
 
.com-si-sn-cr .txt-ttl {
    text-align: center;
}
 
.com-si-sn-ls li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}
 
.com-si-sn-ls li:last-child{
    margin-right:0;
}
 
/*------------------------- Sign out -------------------------*/
body.page-sign-out #primary {
    width: auto;
}
 
.com-sign-out .download-links-cr {
    position: relative;
    top: -5em;
}
 
.com-sign-out .ios-download-lnk-cr,
.com-sign-out .android-download-lnk-cr {
    display: inline-block;
}
 
.com-sign-out .android-download-lnk-cr {
    margin-left: 1.25em;
}
 
/*------------------------- Need help -------------------------*/
div.com-need-help > div {
    width: 30em;
    margin-left: -15em;
}
 
div.com-need-help .txt-title {
    padding: 0.65em 0.9em;
}
 
.com-need-help li a {
    padding: 0.95em 1em 1em;
    display: block;
}
 
.com-need-help li.lbl {
    display: block;
}
 
/*------------------------- Migration -------------------------*/
.com-migration .txt-desc {
    margin: 1em 0;
}
 
.com-migration .social-cr .txt-desc {
    margin-top: 1.5em;
    padding-top: 1em;
}
 
/*------------------------- Search -------------------------*/
.srch-frm .fld-axn .psu-btn-pri{
    margin:0 .5em;
}
 
/*------------------------- Single use code -------------------------*/
.send-code-link-cr a {
    display:block;
}
 
.com-suc-ct .go-pwd-lnk-cr {
    border-top: 1px solid #EEEEEE;
    padding-top: 1em;
}
 
/*------------------------- Has tooltip -------------------------*/
.has-tooltip {
    position:relative;
}
 
.has-tooltip .com-suc {
    left: 100%;
    padding: 0.5em 1em;
    position: absolute;
    top: 0;
    width: 240px;
}
 
.has-tooltip .com-suc:before {
    content:"";
    display:block;
    border-color: transparent #333 transparent transparent;
    border-style: solid;
    border-width: 14px 14px 14px 0;
    margin-top: 0.5em;
    position: absolute;
    right: 100%;
    top: 0;
}
 
/*------------------------- Contacts -------------------------*/
.contacts-on .com-pro-cont {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7;
    float: none;
}
 
.com-pro-cont .com-cont-favs .txt-ttl,
.com-pro-cont .com-cont-def .txt-ttl {
    padding: 0.5em 1em 0.65em;
    margin-bottom: 0;
}
 
.com-pro-cont .cont-fav-def {
    overflow: hidden;
}
 
.com-pro-cont .cont-fav-def:hover {
    overflow-y: scroll;
}
 
.com-group-detail .cont-pic-lnk,
.com-pro-cont .cont-pic-lnk {
    margin-right: -0.25em;
    display: inline-block;
    vertical-align: top;
}
 
.com-group-detail .cont-pic-lnk img,
.com-pro-cont .cont-pic-lnk img {
    vertical-align: top;
}
 
.com-group-detail .cont-inf-cr a,
.com-pro-cont .cont-inf-cr a {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
 
.com-group-detail .cont-inf-cr .lbl,
.com-pro-cont .cont-inf-cr .lbl {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
 
.com-pro-cont .send-msg-lnk-cr,
.com-pro-cont .add-as-rec-lnk-cr {
    position: absolute;
    top: 0;
    right: 0;
}
 
.com-pro-cont .send-msg-lnk,
.com-pro-cont .add-as-rec-lnk {
    display: inline-block;
    text-indent: -9999px;
    padding: 1em;
    width: 32px;
}
 
.com-pro-cont .send-msg-lnk:after {
    display: block;
    margin-top: -1.25em;
}
 
.com-pro-cont .add-as-rec-lnk {
    padding: 1.25em 1.125em;
}
 
.com-pro-cont .com-cont-inf-ct {
    display: table;
    position: relative;
    width: 100%;
}
 
.com-pro-cont .cont-inf-pr-cr {
    display: block;
    height: 100%;
    padding: 0 2em 0 0;
}
 
.com-group-detail .cont-inf-cr,
.com-pro-cont .cont-inf-cr {
    white-space: nowrap;
    margin-left: 0;
    display: inline-block;
    padding: 0.65em 0.75em;
    height: 48px;
    width: 70%;
}
 
.com-pro-cont .com-cont-inf-ct .psu-chk {
    left: 0;
    margin-left: 0.5em;
    margin-top: -11px;
    position: absolute;
    top: 50%;
}
 
.com-pro-cont .avatar-off .cont-inf-cr {
    margin-left: 0;
    width: 90%;
}
 
.select-contacts-on .com-pro-cont .cont-inf-cr {
    width: 60%;
}
 
.select-contacts-on .com-pro-cont .avatar-off .cont-inf-cr {
    width: 80%;
}
 
.delete-contacts-on .com-pro-cont .cont-inf-cr {
    width: 75%;
}
 
.delete-contacts-on .com-pro-cont .avatar-off .cont-inf-cr {
    width: 99%;
}
 
/*------------------------- Delete contact -------------------------*/
.select-on .com-cont-inf-ct .cont-inf-pr-cr {
    padding: 0 0 0 2em;
}
 
.select-on .com-cont-inf-ct .psu-chk,
.select-contacts-on .com-pro-cont-ct section > .fld-axn-select,
.delete-contacts-on .com-pro-cont-ct section > .fld-axn-delete {
    display: block;
}
 
.select-contacts-on .ui-toolbar-contacts-axn .cont-srch-opts,
.select-contacts-on .ui-toolbar-contacts-axn .add-cont-lnk-cr {
    display: none;
}
 
.fld-axn-select {
    z-index: 5;
    width: 360px;
    bottom: 0;
}
 
/*------------------------- Contact Detail -------------------------*/
.contact-detail-on .com-cont-det {
    display: block;
    z-index: 8;
}
 
.contact-detail-drawer .com-cont-det {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    float: none;
}
 
/*------------------------- Contact avatar -------------------------*/
.com-cont-det .cont-pic-cr {
    max-height: 160px;
    height: 100%;
    overflow: hidden;
    position: relative;
}
 
.avatar-full,
.com-cont-det .avatar-full {
    overflow: visible;
}
 
.com-cont-det .cont-pic-cr img {
    margin: 0 auto;
    position: absolute;
    top: -25%;
}
 
/*------------------------- Contact name -------------------------*/
.com-cont-det .cont-nam-cr {
    position: relative;
    z-index: 5;
    margin-top: -2.85em;
    min-height: 1.35em;
}
 
/*------------------------- Contact status -------------------------*/
.com-cont-det .cont-stat-cr {
    word-break: break-all;
}
 
/*------------------------- Contact message -------------------------*/
.com-cont-det .psu-btn-pri {
    margin: 1em;
}
 
/*------------------------- Edit contact -------------------------*/
div.com-edit-cont-cr {
    left: 50%;
    top: 25%;
}
 
/*------------------------- Add contact -------------------------*/
div.com-cont-add-cr {
    left: 17.5em;
    top: 11em;
}
 
/*------------------------- Profile -------------------------*/
.component-profile .com-pro-pr {
    display: block;
    position: absolute;
}
 
.com-pro-pr .com-pro-inf,
.com-pro-pr .com-pro-stat,
.com-pro-pr .com-prof-acct-inf {
    position: relative;
}
 
/*------------------------- Group detail -------------------------*/
.com-group-detail {
    position: absolute;
}
 
.com-group-detail-ct {
    position: absolute;
    top: 8.25rem;
    bottom: 3rem;
    overflow-y: auto;
}
 
.com-group-name {
    margin-top: -4.5rem;
    margin-bottom: 1.25rem;
    position: fixed;
    width: 360px;
    box-sizing: border-box;
}
 
.com-group-detail-cr > header .text-title {
    margin-top: 2.5rem;
}
 
.com-group-detail .edit-group-name-lnk-cr {
    float: right;
    margin-top: -0.4em;
}
 
.com-group-detail .group-name {
    float: left;
}
 
.com-group-detail .fld-axn-leave {
    position: fixed;
    bottom: 7.25rem;
    width: 360px;
}
 
.com-group-detail .com-cont-def .txt-ttl,
.com-group-detail .no-cont-note-cr,
.com-group-detail .com-cont-inf .send-msg-lnk-cr {
    display: none;
}
 
/*------------------------- Name -------------------------*/
.com-pro-nam {
    position:absolute;
    bottom:0;
    width: 100%;
}
 
.com-pro-nam .ful-nam {
    margin-top: 0.25em;
}
 
.com-pro-nam .ful-nam-pr-cr {
    padding: 0.75em 0.9em;
}
 
.com-pro-nam .edit-ful-nam-lnk-cr {
    float: right;
}
 
.com-pro-pr .com-pro-nam .ful-nam-pr-cr .ful-nam,
.com-pro-pr .com-acct-inf-mn-ct .mn-cr {
    float: left;
}
 
.com-cont-det .cont-nam-cr,
.com-pro-nam .ful-nam-pr-cr {
    padding: 0.75em;
    background: rgba(51,51,51,0.75);
}
 
.com-pro-nam-frm .fld-axn,
.com-pro-nam-frm .fld-axn .psu-btn-pri {
    float: right;
}
 
.com-pro-nam-frm .fld-axn .psu-btn-neg {
    float: left;
}
 
/*------------------------- Avatar -------------------------*/
.com-pro-avtr .avtr-pic-cr {
    overflow: hidden;
    position: relative;
}
 
.com-pro-avtr .avtr-pic-cr,
.com-pro-avtr,
.com-cont-det .cont-det-cr > section {
    height: 160px;
}
 
.com-pro-avtr .avatar-full .avtr-pic-img,
.com-cont-det .avatar-full .pic-img {
    left: 0;
    position: absolute;
    top: 7.5em;
}
 
.com-pro-avtr .avtr-pic-img-cr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
 
.com-pro-avtr .avtr-pic-img-lnk {
    display: block;
}
 
.com-pro-avtr .avtr-pic-img-lnk img {
    width: 100%;
}
 
.com-pro-avtr .edt-pic-lnk-pr-cr {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.75em;
    margin-right: 0.9em;
    float: right;
}
 
.com-set-avtr .chg-avtr-frm {
    opacity: 0;
    position: absolute;
    top: 0;
}
 
/*------------------------- Status -------------------------*/
.com-pro-stat .stat-disp {
    max-width: 80%;
    float: left;
}
 
.com-pro-stat .stat-disp .lbl {
    display: inline-block;
    word-wrap: break-word;
    max-width: 100%;
    white-space: normal;
}
 
.com-pro-stat .edit-stat-lnk-cr {
    float: right;
    margin-top: -0.4em;
}
 
.com-pro-stat-frm fieldset {
    position: relative;
}
 
.com-pro-stat-frm div.fld-stat-frm-txt-area {
    margin-top: 1em;
}
 
.com-pro-stat-frm .fld textarea {
    border: 1px solid #eee;
    position:relative;
    box-shadow:none;
    min-height:6em;
}
 
.com-pro-stat-frm .stat-frm-ctrl-ct {
    float: right;
}
 
.com-pro-stat-frm .stat-char {
    margin-top: 1.75em;
    margin-right: 0.25em;
    float: left;
}
 
.com-pro-stat-frm .fld-axn .psu-btn-pri {
    display: block;
}
 
/*------------------------- Mobile number -------------------------*/
.com-acct-inf-mn .edit-mobile-number-link-cr {
    margin-top: -0.4em;
    float: right;
    width: auto;
}
 
.com-acct-inf-mn .edit-mobile-number-link {
    display: inline-block;
    float: right;
}
 
.com-acct-inf-mn .unlink-mobile-number-link {
    margin-right: 1em;
    display: inline-block;
    line-height: 2.25em;
}
 
.com-edit-mn header .txt-ttl {
    display: block;
}
 
/*------------------------- Linked accounts -------------------------*/
.com-acct-inf-lnk-acct .lnk-acct-ls {
    text-align: center;
}
 
.com-acct-inf-lnk-acct .lnk-acct-ls li {
    display: inline-block;
    margin: 0 0.5em 0.5em;
    width: 36px;
}
 
.com-acct-inf-lnk-acct .lnk-acct-ls li a {
    position: relative;
}
 
.com-acct-inf-lnk-acct .lnk-acct-ls li .linked:after {
    bottom: 0;
    content: "";
    display: block;
    height: 32px;
    position: absolute;
    right: 0;
    width: 32px;
    margin-right: -1.25em;
}
 
.com-acct-inf-lnk-acct .lnk-acct-ls li .lbl {
    display:block;
}
 
/*------------------------- Messages -------------------------*/
.com-msgs,
.com-share-sms {
    width:100%;
}
 
.com-msgs-ct {
    position:relative;
}
 
.com-msg-lst,
.com-comp-msg {
    width: 100%;
}
 
.com-msg-lst .fld-axn .psu-btn-pri,
.com-pro-cont-ct .fld-axn .psu-btn-pri {
    float: right;
}
 
.com-msg-conv-cr,
.com-msg-conv-ct {
    height: 100%;
}
 
.msg-conv-lst-cr {
    min-height: 100%;
}
 
.msg-conv-lst > li,
.share-msg-cr .msg-sndr {
    float: left;
}
 
/*------------------------- Message list -------------------------*/
.com-msg-lst-items {
    overflow-y: scroll;
}
 
.com-msg-lst-items li {
    border-bottom: 1px solid #eee;
}
 
.com-msg-lst-items .com-msg-inf-ct {
    position: relative;
    width: 100%;
    overflow:hidden;
    height: 48px;
}
 
.com-msg-lst-items .psu-chk {
    left: 0;
    margin-left: 0.5em;
    margin-top: -11px;
    position: absolute;
    top: 50%;
}
 
.com-msg-lst-items .msg-inf-pr-cr {
    display: table;
    width: 100%;
}
 
.com-msg-lst-items .msg-inf-cr {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-left: 0.65em;
}
 
.com-msg-lst-items .msg-inf-pr-cr .cont-pic-lnk {
    float: left;
    margin-right: -0.1em;
}
 
.com-msg-lst-items .cont-nam {
    margin-top: 0.25em;
}
 
.com-msg-lst-items .cont-nam .lbl {
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 15.5em;
}
 
.com-msg-lst-items .entry-meta {
    padding:.5em;
    padding-left: 0;
    text-align: right;
    height: 5em;
    white-space: nowrap;
    float: right;
}
 
.com-msg-lst-items time {
    display: block;
    padding-right: 0.5em;
    margin-bottom: 0.35em;
}
 
.com-msg-lst-items .unread-count-cr {
    display: inline-block;
    padding: 0.25em;
    margin: 0.625em 0;
    margin-right: 0.25em;
    width: 2em;
}
 
.com-msg-lst-items .send-error-cr {
    display: inline-block;
    margin: 0.25em 0;
    vertical-align: middle;
}
 
.com-msg-lst .fld-axn .psu-btn-cncl {
    float: left;
}
 
/*------------------------- Delete thread -------------------------*/
.select-on .com-msg-lst-items .psu-chk {
    display: block;
}
 
.select-on .com-msg-lst-items .msg-inf-pr-cr {
    padding: 0 0 0 2em;
}
 
.select-on .msg-lst-cr > .fld-axn {
    display: block;
}
 
.no-cont-note-cr,
.no-msg-note-cr {
    margin: 1em;
    text-align: center;
}
 
.psu-chk input[type="checkbox"] {
    width: auto;
}
 
/*------------------------- Conversation -------------------------*/
.com-msg-conv {
    overflow-y: scroll;
    height: 600px;
}
 
.com-msg-conv .com-msg-conv-ct > .fld-axn {
    width: 100%;
    position: fixed;
    bottom: 8.35em;
    margin-left: 2px;
}
 
.ad-off .com-msg-conv .com-msg-conv-ct > .fld-axn {
    bottom: 0;
}
 
.com-msg-conv .msg-conv-lst > li {
    width: 100%;
}
 
.com-msg-conv .msg-conv-lst > li:last-child {
    margin-bottom: 3em;
}
 
.com-msg-conv .msg-conv-lst-cr {
    position: relative;
    height: 500px;
}
 
.com-msg-conv .msg-conv-lst {
    width: 100%;
    padding: 1em;
    position: absolute;
    bottom: 0;
    max-height: 100%;
}
 
.com-msg-conv .msg-timestamp {
    margin: 0.75em 0;
}
 
.com-msg-conv .msg {
    margin:.5em 0;
    word-wrap: break-word;
}
 
.com-msg-conv .msg-ct,
.com-share-sms .msg-ct {
    position: relative;
    min-width: 22em;
    max-width: 90%;
}
 
.com-msg-conv .com-msg-conv-ct {
    position: relative;
}
 
.select-msgs .com-msg-conv .msg-ct {
    margin-left:2em;
}
 
.com-msg-conv .msg-ct {
    min-width: 14em;
}
 
.com-msg-conv .msg-view-opts {
    margin-right: -1px;
    margin-top: -1px;
    position: absolute;
    right: 0;
    top: 0;
}   
 
.com-msg-conv .msg-view-opts-link {
    display: block;
    padding: 0.5em;
}
 
.com-msg-conv .msg-sndr,
.com-msg-conv .msg-rec,
.share-msg-cr .msg-sndr {
    position: relative;
    margin: 1em 0;
    clear: both;
    width: 100%;
}
 
.com-msg-conv .msg-sndr .msg-ct {
    float: right;
    margin-right: 3rem;
}
 
.com-msg-conv .msg-rec .msg-ct {
    float: left;
    margin-left: 3rem;
}
 
.com-msg-conv .msg-failed-lnk {
    left: 0;
    margin-left: -3.5em;
    position: absolute;
    top: 0;
    padding: 0.5em;
}
 
.com-msg-conv .entry-meta {
    margin-top: 0.5em;
}
 
.com-msg-conv .entry-meta .contact-pic-cr {
    position: absolute;
    bottom: 1.5rem;
    right: -3rem;
}
 
.com-msg-conv .entry-meta .contact-info {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: bold;
    color: #404040;
}
 
.com-msg-conv .msg-rec .entry-meta .contact-pic-cr {
    position: absolute;
    left: -3rem;
    right: 0;
}
 
.com-msg-conv .contact-pic-cr .contact-pic img {
    width: 2.5rem;
    height: 2.5rem;
}
 
.com-msg-conv .entry-meta time {
    margin-right: 1em;
}
 
.com-msg-conv .msg-status-failed {
    display: inline-block;
}
 
.com-msg-conv .entry-meta .msg-status-sending {
    display: inline-block;
}
 
.com-msg-conv .psu-chk,
.share-msg-cr .psu-chk {
    left: 0;
    margin-top: 1em;
    position: absolute;
    top:0;
}
 
.com-msg-conv .fld-axn .psu-btn-pri {
    float: right;
}
 
.com-msg-conv .fld-axn .psu-btn-cncl {
    float: left;
}
 
.com-msg-conv .fld-axn .psu-btn-sub {
    float: none;
}
 
/*------------------------- Delete message -------------------------*/
.select-msgs .msg-conv-lst .psu-chk,
.select-msgs .com-msg-conv .com-msg-conv-ct > .fld-axn,
.select-msgs .share-msg-cr .psu-chk {
    display: block;
}
 
.show-cont-lst-lnk {
    padding: 0.5em;
    display: block;
}
 
.psu-inp-rec .inp-txt-rec{
    border:0;
    box-shadow:none;
}
 
.com-msg-conv .fld-axn div.psu-btn {
    width: 300px;
}
 
/*------------------------- Compose message -------------------------*/
.com-comp-msg {
    position: fixed;
    bottom: 8.45em;
    margin-left: 2px;
}
 
.ad-off .com-comp-msg {
    bottom: 0;
}
 
.com-comp-msg .fld-comp,
.com-comp-share .fld-comp {
    padding:.5em;
}
 
.com-comp-msg .fld-comp {
    display: table;
    width: 100%;
}
 
.com-comp-msg .char-count-cr,
.com-comp-msg .sms-count-cr {
    display: block;
    width: 5em;
}
 
.com-comp-msg .psu-inp-comp,
.com-comp-msg .char-sms-count-cr,
.com-comp-msg .fld-axn {
    display: inline-block;
    vertical-align: bottom;
}
 
.com-comp-msg .fld-axn .psu-btn-voice,
.com-comp-msg .fld-axn .psu-btn-close {
    min-width: 5em;
}
 
.com-comp-msg .psu-inp-comp {
    width: 70%;
}
 
.com-comp-msg .char-sms-count-cr {
    padding: 0;
    width: 4em;
    vertical-align: middle;
}
 
.com-comp-msg .fld-axn {
    vertical-align: middle;
    width: auto;
}
 
.com-comp-msg .psu-inp-comp textarea,
.com-comp-share .psu-inp-invite-sms textarea {
    border: 0;
    box-shadow: none;
    min-height: 2.35em;
    max-height: 2.35em;
    vertical-align: bottom;
}
 
.com-comp-msg .fld-axn,
.com-comp-share .fld-axn {
    white-space: nowrap;
}
 
.com-comp-msg .fld-axn .psu-btn-voice a,
.com-comp-msg .fld-axn .psu-btn-close a {
    padding: 0;
    width: 32px;
}
 
.com-comp-msg .fld-axn .psu-btn-sub {
    display: none;
    min-width: 0;
    width: 5em;
}
 
.com-comp-msg .fld-axn .psu-btn-close,
.record .com-comp-msg .fld-axn .psu-btn-voice {
    display: none;
}
 
.record .com-comp-msg .fld-axn .psu-btn-close {
    display: inline-block;
}
 
/*------------------------- Record voice message -------------------------*/
.com-record-message {
    text-align: center;
    width: 95%;
}
 
.com-record-message,
.com-record-message .txt-title,
.com-record-message .dismiss-link-cr {
    display: none;
}
 
.com-record-message div.fld-axn {
    width: 100%;
    display: table;
    padding: 0;
}
 
.com-record-message .player-cr {
    margin: 1em 0 0;
    text-align: center;
    display: inline-block;
}
 
.com-record-message .player-cr .controls {
    vertical-align: middle;
}
 
.com-record-message .player-cr .controls,
.com-record-message .player-cr .player {
    display: none;
}
 
.com-record-message .fld-axn .psu-btn {
    float: none;
    display: table-cell;
}
 
.com-record-message .fld-axn .psu-btn:active {
    background-color: transparent;
}
 
.com-record-message .fld-axn .psu-btn .lbl {
    margin: auto;
}
 
.com-record-message .psu-btn button {
    height: 24px;
    box-sizing: content-box;
    padding-left: 0;
    padding-right: 0;
}
 
.com-record-message .psu-btn button .lbl {
    left: 0.25em;
    position: relative;
}
 
.com-record-message .fld-axn .psu-btn-pause,
.com-record-message.paused .fld-axn .psu-btn-pause,
.com-record-message .fld-axn .psu-btn-stop,
.com-record-message .fld-axn .psu-btn-send,
.com-record-message.recording .fld-axn .psu-btn-rec {
    display: none;
}
 
.com-record-message.recording .fld-axn .psu-btn-stop,
.com-record-message.paused .fld-axn .psu-btn-rec,
.com-record-message.paused .fld-axn .psu-btn-stop,
.com-record-message.done .fld-axn .psu-btn-send {
    display: table-cell;
}
 
.com-record-message.recording .fld-axn .psu-btn-rec button,
.com-record-message .fld-axn .psu-btn-pause button {
    margin-right: 0.5em;
}
 
.com-record-message .note-cr {
    display: block;
    margin: 0 0 0.5em;
    text-align: center;
}
 
.com-record-message .recording-icon {
    vertical-align: middle;
    display: none;
}
 
@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.com-record-message.recording .recording-icon {
    display: inline-block;
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}
 
/*------------------------- Player -------------------------*/
.player-cr {
    margin: 1em 0;
    position: relative;
    text-align: center;
}
 
.player-cr .controls {
    display: inline-block;
}
 
.player-cr .controls .psu-btn {
    min-width: 0;
    vertical-align: middle;
}
 
.player-cr .controls .psu-btn-pause {
    display: none;
}
 
.player-cr .controls .psu-btn button {
    padding: 0;
}
 
.player-cr .player {
    display: inline-block;
    margin-top: 2em;
    width: 7.75em;
    height: 0.25em;
    vertical-align: middle;
}
 
.player-cr .player audio {
    position: absolute;
    visibility: hidden;
}
 
.msg .player-cr .player {
    margin: 0;
}
 
.com-record-message .player-cr .player {
    display: none;
}
 
.player-cr .player .playbar-cr {
     
    width: 90px;
}
 
.player-cr .player .playbar {
    width: 0px;
    height: 0.25em;
}
 
.player-cr .meta {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em 0 0;
}
 
.msg .player-cr .meta {
    display: none;
}
 
/*------------------------- Suggested Contacts -------------------------*/
.cont-suggest {
    margin-top: 2px;
    margin-left:2px;
    position: absolute;
    top: 100%;
    left:0;
    width: 99%;
    z-index: 1;
}
 
.cont-suggest-cr {
    max-height: 324px;
    overflow-y: hidden;
}
 
.cont-suggest-cr:hover {
    overflow-y:scroll;
}
 
.cont-suggest-cr .suggest-cont-info .cont-info-cr {
    padding: 0.35em 0.5em;
    float: left;
}
 
.cont-suggest-cr .suggest-cont-info {
    padding: 0.5em;
}
 
.cont-suggest-cr .suggest-cont-info > img {
    width: 48px;
    height: 48px;
    float: left;
}
 
/*------------------------- Settings -------------------------*/
.com-sett {
    position: absolute;
    top: 0;
    min-height: 100%;
}
 
.com-sett .com-sett-ct {
    height: 100%;
}
 
.com-share .share-item .lbl:before {
    height: 24px;
}
 
/*------------------------- Show contact avatar -------------------------*/
.sett-cont .psu-chk {
    position: relative;
}
 
.sett-cont .inp-chk-hide-avtr {
    position: absolute;
    right: 0;
    margin-top: 1em;
    margin-right: 1.75em;
    vertical-align: text-top;
    width: auto;
}
 
.sett-cont .hide-avtr-lbl{
    height: auto;
    width: 100%;
    position: static;
    vertical-align: top;
}
 
.sett-cont .hint {
    margin-top: 0.25em;
    margin-left: 0.125em;
}
 
.com-acct-inf-lnk-acct-ct {
    padding: 0.9em;
}
 
.com-group-detail .fld-axn .psu-btn *,
.com-msg-conv .fld-axn .psu-btn *,
.msg-lst-cr .psu-btn *,
.com-pro-cont-ct .psu-btn * {
    padding: 0.75em 0 0.65em;
    line-height: 1.4em;
}
 
/*------------------------- Set tone -------------------------*/
.set-tone-cr .tone-name {
    margin-right: 2em;
    float: right;
}
 
.com-set-tone .fld-tone .psu-inp-tone {
    width: 11.75em;
    margin-right: 0.75em;
    height: 2.75em;
    float: left;
}
 
.com-set-tone .fld-tone .psu-inp-tone select {
    height: 100%;
}
 
div.com-set-tone .fld-tone .psu-btn {
    display: block;
    position: relative;
    top: 0.25em;
    float: right;
}
 
.com-set-tone .fld-axn {
    margin-top: 1.5em;
}
 
/*------------------------- Tell a friend -------------------------*/
div.com-share .txt-title {
    padding: 0.65em 0.9em;
}
 
.com-share li.share-item .lbl:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.75em;
    position: relative;
    top: -0.125em;
}
 
.com-share ul > li > a.share-lnk {
    padding: 0.65em 1em 0.45em;
    display: block;
}
 
.com-share li .lbl {
    display: block;
}
 
/*------------------------- View credits -------------------------*/
.com-credits li {
    padding: 1em 0;
}
 
.com-credits li p {
    display: inline-block;
}
 
.com-credits li .credits {
    float: right;
}
 
.sett-cr {
    padding-bottom: 1em;
}
 
.sett-acct .psu-btn {
    display: block;
}
 
/*========================= Mobile =========================*/
.page-mobile #masthead {
    height: auto;
}
 
.page-mobile #masthead-cr {
    position: relative;
}
 
.page-mobile .site-title-link {
    padding: 0.35em;
}
 
.page-mobile .site-title {
    height: 18px;
    width: 66px;
    background-size: 100%;
}
 
.page-mobile #main-cr {
    margin: 1em;
    min-height: 0;
    width: auto;
}
 
.page-mobile .site-content > section > div > div > div {
    padding: 1em;
}
 
.page-mobile .site-content > section > div > div .txt-title,
.com-mobile-link-account .com-si-sn .txt-ttl {
    margin: 0.5em 0 1em;
    text-align: center;
}
 
.page-mobile .psu-btn {
    width: 100%;
}
 
/*------------------------- Welcome -------------------------*/
.com-mobile-welcome .mobile-welcome-banner-cr {
    margin-bottom: 1em;
}
 
/*------------------------- Link Account -------------------------*/
.com-mobile-link-account .txt-desc {
    margin-bottom: 1em;
    text-align: center;
}
 
.com-mobile-link-account .divider {
    margin: 1em 0;
}
 
.com-mobile-link-account .divider:before {
    margin-right: 0.5em;
}
 
.com-mobile-link-account .divider:after {
    margin-left: 0.5em;
}
 
.com-mobile-link-account .com-si-sn {
    border: 0 none;
}
 
/*------------------------- Mobile Verification -------------------------*/
.com-mobile-verification .txt-desc {
    margin-bottom: 1em;
}
 
.com-mobile-link-account .com-si-sn-ls li:not(:last-child) {
    margin-right: 1em;
}
 
/*------------------------- v5 -------------------------*/
.page-v5-sign-in,
.page-link-acount {
    min-width: 0;
}
 
.page-v5-sign-in #main-cr,
.page-link-acount #main-cr {
    min-height: 0;
}
 
.page-v5-sign-in #colophon,
.page-link-acount #colophon {
    top: auto;
    bottom: 0;
}
 
.page-v5-sign-in .site-title,
.page-link-acount .site-title {
    width: 3.75em;
    height: 1.1em;
    background-size: 100%;
    background-repeat: no-repeat;
}
 
.page-v5-sign-in div#primary,
.page-link-acount div#primary {
    margin: 0 auto;
}
 
.page-v5-sign-in .main-navigation,
.page-link-acount .main-navigation {
    margin-left: 0;
}
 
/*------------------------- Media query -------------------------*/
 
 
    .com-mobile-welcome .mobile-welcome-banner-cr span.lbl {
        height: 3.25em;
    }
 
 
    .page-mobile .site-content > section > div > div > div .txt-title,
    .com-mobile-link-account .com-si-sn .txt-ttl {
        color: #666;
    }
     
    .com-mobile-welcome .mobile-welcome-banner-cr span.lbl {
        height: 4em;
    }
     
    .page-sign-up .com-su {
        width: auto;
    }
     
    .com-comp-msg .psu-inp-comp {
        width: 70%;
    }
     
    .ui-toolbar-msg-multi .com-msg-cont-inf .cont-inf-pr-cr .cont-inf-cr,
    .ui-toolbar-share-multi .com-msg-cont-inf .cont-inf-pr-cr .cont-inf-cr {
        padding-top: 0.5em;
    }
     
    .com-group-detail .cont-inf-cr,
    .com-pro-cont .cont-inf-cr {
        width: 75%;
    }
     
    .select-contacts-on .com-pro-cont .cont-inf-cr {
        width: 14.5em;
    }
     
    .select-contacts-on .com-pro-cont .avatar-off .cont-inf-cr {
        width: 14.5em;
    }
     
    .delete-contacts-on .com-pro-cont .cont-inf-cr {
        width: 80%;
    }
 
 
 
    .com-mobile-welcome .mobile-welcome-banner-cr span.lbl {
        height: 5.75em;
    }
     
    .ui-toolbar-msg .cont-pic-lnk-cr,   
    .com-msg-lst-items .cont-pic-lnk img,
    .com-group-detail .cont-pic-lnk img,
    .com-pro-cont .cont-pic-lnk img {
        width: 64px;
        height: 64px;
    }
     
    .com-acct-inf-lnk-acct .lnk-acct-ls li {
        width: auto;
        margin: 0 1em 1em;
    }
     
    .com-cont-det .ui-toolbar,
    .com-pro-pr .ui-toolbar,
    .com-group-detail .ui-toolbar,
    .com-sett .ui-toolbar {
        top: 8.9em;
    }
     
    .com-group-detail .cont-inf-cr,
    .com-pro-cont .cont-inf-cr {
        width: 80%;
    }
     
    .com-pro-cont .avatar-off .cont-inf-cr {
        width: 85%;
    }
     
    .delete-contacts-on .com-pro-cont .cont-inf-cr {
        width: 85%;
    }
     
    .ui-toolbar-msg-lst .com-cont-srch,
    .ui-toolbar-contacts .com-cont-srch {
        margin-top: 0.75em;
    }
     
    .ui-toolbar-ct {
        min-height: 4.25em;
    }
     
    .ui-toolbar-msg .cont-inf-pr-cr .cont-inf-cr {  
        padding: 0.5em 10em 0.125em 5.5em;
    }
     
    .ui-toolbar-contacts .com-cont-srch {
        padding: 0 8em 0 0;
    }
     
    .dismiss-toolbar-link-cr {
        margin-top: -16px;
    }
     
    .com-share .share-item .lbl:before {
        height: 32px;
    }
     
    .com-pro-avtr .avtr-pic-cr,
    .com-pro-avtr,
    .com-cont-det .cont-det-cr > section {
        height: 300px;
    }
     
    .com-cont-det .cont-pic-cr {
        max-height: 300px;
    }
     
    .player-cr .player {
        width: 15em;
    }
     
    .player-cr .player .playbar-cr {
        width: 210px;   
    }
     
    .com-record-message .psu-btn button {
        height: auto;
        box-sizing: content-box;
    }
     
    .com-msg-lst-items .com-msg-inf-ct {
        height: 64px;
    }
     
    .com-comp-msg .psu-inp-comp {
        width: 75%;
    }
     
    .com-cont-det-cr,
    .com-group-detail-cr,
    .com-pro-pr-cr,
    .com-sett-cr {
        padding-top: 4.2em;
    }
     
    .com-group-detail .cont-inf-cr,
    .com-pro-cont .cont-inf-cr {
        height: 64px;
    }
     
    .ui-toolbar-contact-detail .cont-det-axn > li a,
    .ui-toolbar-contact-detail .cont-det-opts-link,
    .ui-toolbar-contacts .add-cont-lnk,
    .ui-toolbar-contacts .cont-srch-opts-link,
    .msg-srch-opts-link,
    .group-message-lnk,
    .comp-msg-lnk {
        padding: 1em 0.75em;
    }
     
    .ui-toolbar-msg-lst .fld-kw {
        width: 88%;
    }
         
    .set-tone-cr .tone-name {
        margin-right: 2.5em;
    }
     
    .com-welcome .welcome-text-cr {
        margin: 1em 0 0.5em;
        float: left;
        width: 50%;
        padding: 0.5em;
        padding-right: 1em;
        text-align: left;
    }
     
    .com-welcome .fld-axn {
        width: 50%;
        float: right;
        padding: 0.5em;
        padding-left: 1em;
        border-left: 1px solid #EEE;
    }
     
    .page-v5-sign-in div#primary,
    .page-link-acount div#primary {
        margin: 3em auto;
    }
 
 
    .com-comp-msg .psu-inp-comp {
        width: 80%;
    }
 
 
    .com-comp-msg {
        width: 63%;
    }
     
    .com-msg-lst {
        left: 0;
        position: absolute;
    }
     
    .com-comp-msg .psu-inp-comp {
        width: 75%;
    }
     
    .com-pro-cont .send-msg-lnk,
    .com-pro-cont .add-as-rec-lnk {
        padding: 1.1em;
    }
     
    .com-cont-det {
        position: absolute;
        left: 35%;
        margin-left: 2px;
    }
     
    .ui-toolbar-msg-lst .com-cont-srch,
    .ui-toolbar-contacts .com-cont-srch {
        margin-top: 0.85em;
    }
     
    .ui-toolbar-contact-detail .cont-det-axn > li a {
        padding: 1em;
    }
     
    .com-group-detail .cont-inf-cr,
    .com-pro-cont .cont-inf-cr {
        width: 55%;
    }
     
    .com-pro-cont .avatar-off .cont-inf-cr {
        width: 85%;
    }
     
    .select-contacts-on .com-pro-cont .cont-inf-cr {
        width: 45%;
    }
     
    .select-contacts-on .com-pro-cont .avatar-off .cont-inf-cr {
        width: 70%;
    }
     
    .delete-contacts-on .com-pro-cont .cont-inf-cr {
        width: 70%;
    }
     
    .delete-contacts-on .com-pro-cont .avatar-off .cont-inf-cr {
        width: 99%;
    }
     
    .ui-toolbar-contact-detail .cont-det-opts-link
    .ui-toolbar-contacts .add-cont-lnk,
    .ui-toolbar-contacts .cont-srch-opts-link,
    .group-message-lnk,
    .comp-msg-lnk,
    .msg-srch-opts-link,
    .ui-toolbar-group-detail .add-members-lnk {
        padding: 1em 0.5em;
        display: inline-block;
    }
 
    .ui-toolbar-group-detail .add-members-lnk {
        padding: 1em;
    }
     
    .ui-toolbar-msg .cont-pic-lnk-cr {
        width: 110px;
        height: 110px;
    }
     
    .ui-dialog, .avtr-pic-cr div.avatar-full,
    .com-cont-det .cont-pic-cr.avatar-full {
        min-width: 760px;
    }
 
    .page-v5-sign-in .ui-dialog {
        min-width: 0;
    }
     
    .com-pro-avtr .avatar-full .avtr-pic-img,
    .com-cont-det .avatar-full .pic-img {
        left: 4.45em;
        top: 4.45em;    
    }
     
    .com-cont-det .avatar-full .pic-img {
        margin-left: 32.5%;
    }
     
    .com-cont-det .cont-pic-cr {
        max-height: 240px;
    }
     
    .com-cont-det .ui-toolbar {
        left: 32.5%;
        margin-left: 3.9rem;
    }
     
    .com-cont-det-cr,
    .com-group-detail-cr,
    .com-pro-pr-cr,
    .com-sett-cr {
        padding-top: 4.25em;
    }
     
    .com-sett-cr {
        position: relative;
    }
     
    div.com-edit-cont-cr {
        left: 43em;
        top: 11em;
    }
     
    div.com-group-name-edit-cr {
        left: 15rem;
        top: 9rem;
    }
     
    .com-record-message .psu-btn button .lbl {
        position: static;
    }
     
    .selected-cont-info .dismiss-link-cr {
        top: -0.25em;   
    }
     
    .com-group-detail .cont-inf-cr,
    .com-pro-cont .cont-inf-cr {
        padding: 0.875em;
    }
     
    .ui-toolbar-msg .cont-inf-pr-cr .cont-inf-cr {  
        padding: 0.5em 0.875em 0.125em 8.875em;
    }
     
    .ui-toolbar-msg .stat-disp {
        display: block;
        margin-top: 0.75em;
        padding: 0.25em 0;
    }
     
    .com-cont-det .ui-toolbar,
    .com-pro-pr .ui-toolbar,
    .com-group-detail .ui-toolbar,
    .com-sett .ui-toolbar {
        top: 3.9rem;
    }
     
    .com-pro-stat .stat-disp {  
        max-width: 87%;
    }
     
    .com-pro-avtr .avtr-pic-cr,
    .com-pro-avtr,
    .com-cont-det .cont-det-cr > section {
        height: 240px;
    }
     
    .com-sett .hint,
    .ui-toolbar-msg-lst .fld-kw {
        width: 65%;
    }
     
    .com-msg-conv .msg-ct {
        min-width: 15em;
        max-width: 30em;
    }
     
    .com-msg-conv-cr {
        max-width: 602px;
    }
     
    .set-tone-cr .tone-name {   
        margin-right: 0.5em;
    }
     
    .page-v5-sign-in .site-title,
    .page-link-acount .site-title {
        height: 34px;
        width: 125px;
    }
     
    .page-not-signed-in #main-cr {
        width: auto;
    }
     
    .com-pro-cont .cont-inf-pr-cr {
        height: 64px;
    }
     
    .com-pro-pr .ui-toolbar,
    .com-group-detail .ui-toolbar,
    .com-sett .ui-toolbar {
        left: 4.45em;
    }
     
    div.com-welcome > div {
        width: 660px;
        margin-left: -330px;
        top: 20%;
    }
     
    /*------------------------- Left Column -------------------------*/
    .ui-drawer > div,
    .com-msg-lst,
    div.com-sett.ui-drawer > div > div {
        width: 35%;
    }
     
    .com-pro-avtr .avatar-full .avtr-pic-img,
    .com-cont-det .avatar-full .pic-img,
    .com-cont-det .ui-toolbar,
    .com-pro-pr .ui-toolbar,
    .com-group-detail .ui-toolbar,
    .com-sett .ui-toolbar {
        width: 32.5%;
    }
     
    .com-cont-det .avatar-full .pic-img {
        left: 4.65em;
    }
     
    /*------------------------- Right Column -------------------------*/
    .com-msg-thrd,
    .com-share-sms-cr {
        padding-left: 35%;
    }
 
 
@media only screen and (min-width: 1024px) {
    .page-not-signed-in #main-cr {
        width: 1024px;
    }
     
    .page-mobile #main-cr {
        width: auto;
    }
     
    .com-comp-msg,  
    .com-comp-msg .fld-comp {
        width: 100%;
    }
     
    .com-comp-msg .psu-inp-comp {
        width: 32em;
    }
     
    .ui-toolbar-msg-multi .com-msg-cont-inf .cont-inf-pr-cr .cont-inf-cr,
    .ui-toolbar-share-multi .com-msg-cont-inf .cont-inf-pr-cr .cont-inf-cr {
        width: 42.25em;
    }
     
    .com-cont-det {
        left: 360px;
    }
     
    .com-cont-det .ui-toolbar {
        left: 360px;
        margin-left: 4.55em;
    }
     
    .com-group-detail .cont-inf-cr,
    .com-pro-cont .cont-inf-cr {
        width: 16.5em;
    }
     
    .com-pro-cont .avatar-off .cont-inf-cr {
        width: 21em;
    }
     
    .select-contacts-on .com-pro-cont .cont-inf-cr {
        width: 14.5em;
    }
     
    .select-contacts-on .com-pro-cont .avatar-off .cont-inf-cr {
        width: 19em;
    }
     
    .delete-contacts-on .com-pro-cont .cont-inf-cr {
        width: 19em;
    }
     
    .delete-contacts-on .com-pro-cont .avatar-off .cont-inf-cr {
        width: 23.5em;
    }
     
    .ui-toolbar-msg .com-msg-cont-inf .cont-nam-lnk .lbl {
        width: 75%;
    }
    /*------------------------- Left Column -------------------------*/
    .ui-drawer > div,
    .ui-drawer > div > div:not(.psu-btn),
    .ui-toolbar > .ui-toolbar-cr,
    .com-pro-avtr .avtr-pic-img,
    .com-cont-det .avatar-full .pic-img,
    .com-cont-det .pic-img,
    .com-cont-det .ui-toolbar,
    .com-pro-pr .ui-toolbar,
    .com-group-detail .ui-toolbar,
    .com-sett .ui-toolbar,
    .com-cont-det .pic-img,
    .com-msg-lst,
    .com-msg-lst-cr,
    .com-pro-avtr .avatar-full .avtr-pic-img,
    div.com-sett.ui-drawer > div > div {
        width: 360px;
    }
     
    .com-cont-det-cr .psu-btn-pri {
        width: 330px;
    }
     
    .com-msg-thrd,
    .com-share-sms-cr {
        padding-left: 360px;
    }
     
    .com-cont-det .avatar-full .pic-img {
        margin-left: 362px;
    }
     
    .com-pro-avtr .avtr-pic-cr {
        max-width: 360px;
    }
     
    .contact-detail-drawer .com-cont-det {
        left: 360px;
    }
     
    .ui-toolbar-msg-lst .fld-kw {
        width: 14.5em;
    }
     
    /*------------------------- Right Column -------------------------*/
    .ui-toolbar-msg > .ui-toolbar-cr,
    .ui-toolbar-compose-msg > .ui-toolbar-cr {
        width: auto;
    }
     
    .com-msg-thrd-cr {
        min-width: 600px;
    }
     
    .com-msg-conv .msg-conv-lst {
        width: 600px;
    }
     
    .ui-toolbar-cr,
    .com-comp-msg-cr,
    .share-msg-cr,
    .com-comp-share-cr,
    .com-msg-conv-cr {
        max-width: 602px;
    }
}
 
@media only screen and (min-height: 769px) { .com-msg-conv {height: 768px;} }
@media only screen and (min-height: 901px) { .com-msg-conv {height: 860px;} }
@media only screen and (min-height: 1025px) { .com-msg-conv {height: 900px;} }
@media only screen and (min-height: 1081px) { .com-msg-conv {height: 1024px;} }
@media only screen and (min-height: 1201px) { .com-msg-conv {height: 1300px;} }
@media only screen and (min-height: 1441px) { .com-msg-conv {height: 1440px;} }
@media only screen and (min-height: 1601px) { .com-msg-conv {height: 1440px;} }
 
@media only screen and (max-height: 360px) {
    .page-v5-sign-in #colophon,
    .page-link-acount #colophon {
        position: relative;
        top: 3em;
    }
}
 
/*------------------------- FB App -------------------------*/
.fb-app .nav-menu-log-out,
.fb-app .sett-acct {
    display: none;
}