/* CSS Document */

.msg-group-event-join {
	background-color:#F47F20;
	color:#FFFFFF;
	padding:.3rem;
	text-align:center;
}

.msg-group-event-leave {
	background-color:#D8D8D8;
	padding:.3rem;
	text-align:center;
}
