.lt-ie9 .masthead-headers {
    float: left;
    width: 176px;
}

.lt-ie9 .page-home #primary {
	float: right;
	width:30%;
}
	
.lt-ie9 .page-home #tertiary {
	float: left;
	width:70%;
}

.lt-ie9 #masthead-cr {
	padding:0.5em 1em;
}

.lt-ie9 #colophon-cr {
	padding: 1em;
}


.lt-ie9 .page-contacts #primary{
	float: right;
	width:70%;
}

.lt-ie9 .page-messages #tertiary,
.lt-ie9 .page-contacts #tertiary {
	float: left;
	width:30%;
}

.lt-ie9 .site-content{position:relative;}

.lt-ie9 .page-home #main #main-cr{
	width:1024px;
	margin-left:0;
}

.lt-ie9 .page-home #colophon-cr{
	-moz-box-sizing: border-box;
	margin-left: 0;
	width: 1024px;
}

/*------------------------- Header -------------------------*/
.lt-ie9 .masthead-headers {
	float: left;
	width: 176px;
}

/*------------------------- Nav -------------------------*/	
.lt-ie9 .navbar {
	float: right;
	margin-left: -176px;
	width: 100%;
}

.lt-ie9 .main-navigation {
	margin-left: 176px;
}

.lt-ie9 .nav-menu {
	margin-top:0.5em;
}

.lt-ie9 .nav-menu-pri {
	float: left;
}

.lt-ie9 .nav-menu-sec {
	float: right;
}

.lt-ie9 .nav-menu > ul > li {
	float: left;
}

.lt-ie9 .nav-menu-sec > li{margin:0 1em;}

.lt-ie9 .nav-menu-sec > li:last-child{margin-right:0;}

/*------------------------- Footer -------------------------*/
.lt-ie9 #secondary {
	float: left;
}

.lt-ie9 .site-info {
	float: right;
}

.lt-ie9 .menu-footer-container > ul > li {
	float: left;
}

/*------------------------- Stack -------------------------*/	
.lt-ie9 .stack,
.lt-ie9 .masthead-headers,
.lt-ie9 .navbar {
	position: relative;
}

.lt-ie9 .stack,
.lt-ie9 .masthead-headers {
	z-index: 90;
}

.lt-ie9 .navbar {
	z-index: 80;
}

.com-welcome-tour .ps-caption {
	height: auto !important;
	z-index: 1;
}

.com-welcome-tour .ps-controls {
	z-index: 0;
}

@media only screen and (min-width: 768px) {
	.nav-menu > .nav-menu-pri {
		width: 4.45em;
	}
	
	.nav-menu > .nav-menu-pri > li,
	.nav-menu > .nav-menu-pri > li > a {
		display: inline-block;
	}
	
	.nav-menu > .nav-menu-pri > li {
		height: 4.45em;
	}
}