/*------------------------- Reset -------------------------*/
h1, p, ol, ul, dd, dl, th, td, button {
    margin: 0;
    padding: 0;
}
 
.unlist,
ul {
    list-style: none;
}
 
table {
    width: 100%;
}
 
table,
th,
td,
input,
select,
textarea,
button {
    border: none;
}
 
button {
    background-color: transparent;
}
 
a,
a:visited,
a:focus{outline:0;}
 
/*------------------------- Clearfix -------------------------*/
.clearfix:before,
.clearfix:after,
.nav-menu:before,
.nav-menu:after,
.nav-menu > ul:before,
.nav-menu > ul:after,
#main-cr:before,
#main-cr:after,
#masthead-cr:before,
#masthead-cr:after,
#colophon-cr:before,
#colophon-cr:after,
.menu-footer-container > ul:before,
.menu-footer-container > ul:after {
    content: " ";
    display: table;
}
 
.clearfix:after,
.nav-menu:after,
.nav-menu > ul:after,
#main-cr:after,
#masthead-cr:after,
#colophon-cr:after,
.menu-footer-container > ul:after {
    clear: both;
}
 
.clearfix,
.nav-menu,
.nav-menu > ul,
#main-cr,
#masthead-cr,
#colophon-cr,
.menu-footer-container > ul {
    *zoom: 1;
}
 
/*------------------------- Image replacement -------------------------*/
.ir,
.site-title {
    display:block;
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
 
.ir:before,
.site-title:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}
 
/*------------------------- Hide visually -------------------------*/
.visuallyhidden,
.assistive-text,
.at,
legend,
label,
.site-desc{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
 
.visuallyhidden.reverse {
    clip:rect(auto, auto, auto, auto);
    height:auto;
    margin:auto;
    overflow:auto;
    padding:inherit;
    position:inherit;
    width:auto;
}
 
/*------------------------- Pseudo content -------------------------*/
.pseudo-content:before {
    content: '';
    position: absolute;
}
 
/*------------------------- Border box -------------------------*/
.border-box,
input[type],
textarea,
.navbar,
.nav-menu,
.psu-btn button,
.psu-btn > a,
.psu-inp-cc-mn,
.ui-dialog > div {
    -webkit-appearance: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
/*------------------------- Skeleton -------------------------*/
html, body {
    height: 100%;
}
 
body {
    overflow: hidden;
    position: relative;
    min-width: 240px;
    /*min-height: 540px;*/
}
 
.page-sign-in.sticky-footer #main {
    pointer-events: none;
}
 
.page-sign-in.sticky-footer #primary {
    pointer-events: all;
}
 
.page-mobile {
    min-width: 0;
}
 
.page-not-signed-in .site-footer {
    position: absolute;
    bottom: 0;
}
 
.page-sign-in .site-footer {
    position: static;
}
 
.sticky-footer.page-sign-in .site-footer {
    position: fixed;
    top: auto;
    bottom: 0;
}
 
#masthead-cr {
    margin: 0 auto;
    position: fixed;
    z-index: 2;
    width: 100%;
}
 
#main {
    width: 100%;
    margin-top: 3.8em;
}
 
.page-sign-in #main {
    position: relative;
    z-index: 1;
}
 
.site-info{
    padding: 1.25em;
}
 
.sidebar-container {
    padding: 0.75em 1em;
}
 
.page-not-signed-in #primary {
    float: none;
}
 
.page-home #main {
    margin-top: 0;
}
 
.page-home #primary {
    margin: 2em;
}
 
.page-mobile #primary {
    margin: 0 auto;
    width: auto;
}
 
#tertiary {
    display: none;
}
 
.page-v5-sign-in #tertiary,
.page-sign-up #tertiary {
    display: none;
}
 
.page-contacts #primary{
    float: right;
    width:70%;
}
 
.page-messages #tertiary,
.page-contacts #tertiary {
    float: left;
    width:30%;
}
 
.site-content {
    position:relative;
}
 
.page-home #colophon-cr{
    -moz-box-sizing: border-box;
    margin-left: 0;
}
 
/*------------------------- WP: Assitive text -------------------------*/
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
 
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    line-height: normal;
    padding: 15px 23px 14px;
    position: absolute;
    left: 5px;
    top: 5px;
    text-decoration: none;
    width: auto;
    z-index: 100000;
}
 
/*------------------------- WP: search input fix for webkit -------------------------*/
input[type="search"] {
    -webkit-appearance: textfield;
    padding-right: 2px;
    width: 270px;
}
 
/*------------------------- Transition -------------------------*/
.no-touch-links {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
 
.no-touch .psu-btn {
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -ms-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease-out;
}
 
/*------------------------- Text inside content -------------------------*/
.entry-content p,
.entry-content ol,
.entry-content ul {
    margin-bottom: 1em;
}
 
.entry-content ol,
.entry-content ul {
    list-style-position: inside;
}
 
.entry-content p {line-height:1.5;}
 
.entry-content p:last-child {margin-bottom:0;}
 
.txt-ttl {
    margin-bottom: 1em;
}
 
.noscript {
    display: none;
}
 
.noscript,
.browsehappy {
    width: 100%;
    padding: 1em;
    text-align: center;
    display: block;
    margin: 0;
}
 
/*------------------------- Tables -------------------------*/
th, td {
    padding: .5em 1em;
}
 
/*------------------------- Forms -------------------------*/
input:focus,
textarea:focus {
    outline: 0;
}
 
/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    display: inline-block;
}
 
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
    outline: none;
}
 
embed,
iframe,
object,
video {
    max-width: 100%;
}
 
.fld {
    margin-bottom: 1em;
}
 
.fld:only-child,
.fld:last-child {
    margin-bottom: auto;
}
 
.fld-axn {
    margin-top: 1.5em;
}
 
/*------------------------- Inputs -------------------------*/
input[type],
select,
textarea,
.psu-btn button,
.psu-btn > a {
    display: inline-block;
    width: 100%;
}
 
input[type],
select,
textarea {  
    padding: .5em;
}
 
select,
option {
    padding-left: .25em;
    padding-right: .25em;
}
 
/*------------------------- Buttons -------------------------*/
.psu-btn button,
.psu-btn > a,
.com-welcome .sign-in-lnk,
.com-welcome .sign-up-lnk,
.com-welcome-tour .ok-tour-lnk {
    padding: .5em 1.25em .4em;
}
 
.psu-btn {
    text-align: center;
    display: inline-block;
    min-width: 6em;
}
 
audio {
    width: 1px;
    height: 1px;
}
 
/*------------------------- Skeleton -------------------------*/
#masthead {
    height: 3.5em;
}
 
/*------------------------- Header -------------------------*/
.site-title {
    height: 34px;
    width: 125px;
    background-image: url(https://static6.chikka.com/svg/chikka-logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
 
.site-title-link {
    display: block;
    padding: 0.5em;
    width: 63px;
    height: 17px;
}
 
.masthead-headers {
    float: left;
    width: 83px;
}
 
/*------------------------- Nav -------------------------*/
.nav-menu > ul > li a,
.menu-footer-container > ul > li a,
.nav-menu > ul > li > a {
    display: block;
}
 
.navbar {
    float: right;
    margin-left: -176px;
    width: 100%;
}
 
.nav-menu > .nav-menu-pri {
    top: 0;
    position: fixed;
    margin-top: 3.5em;
    width: 100%;
    display: table;
    left: 0;
}
 
.nav-menu > .nav-menu-pri > li {
    display: table-cell;
}
 
.nav-menu > .nav-menu-pri > li > a {
    position: relative;
    display: block;
}
 
.nav-menu > ul > li > a {
    height: 32px;
    margin: auto;
}
 
.nav-menu > ul > li > a .lbl {
    margin: 0 auto;
}
 
.nav-menu-sec > li {
    width: 42px;
    height: 42px;
    margin: auto;
}
 
.cm-off .nav-menu > .nav-menu-pri {
    bottom: 0;
}
 
.lt-ie7 .nav-menu > .nav-menu-pri {
    top: 3.25em;
}
 
.nav-menu-item-messages-link .count {
    position: absolute;
    left: 50%;
    bottom: 0.65em;
    width: 2em;
    padding: 0.125em;
}
 
.navbar .su-btn-cr .lbl {
    float: left;
}
 
.su-btn-cr {
    margin-top: 0.5em;
    margin-right: 0.5em;
}
 
.navbar .su-btn-cr,
.navbar .su-btn-cr .psu-btn-pri {
    float: right;
}
 
.nav-menu-sec {
    float: right;
}
 
.nav-menu-sec > li {
    display: inline-block;
    text-align: center;
}
 
.nav-menu-sec > li:last-child > a{
    margin-right:0;
}
 
.cm-off .nav-menu-sec > .nav-menu-sett {
    bottom: 0;
}
 
/*------------------------- Pages -------------------------*/
.page-sign-in .nav-menu-sign-in,
.page-sign-up .nav-menu-su {
    display: none;
}
 
/*------------------------- Footer -------------------------*/
#colophon{
    width: 100%;
}
 
#secondary {
    float: left;
}
 
.site-info {
    text-align: right;
}
 
.menu-footer-container > ul > li {
    float: left;
    margin-right: 1em;
}
 
 
/*------------------------- Ads -------------------------*/
.cm-off div.cms-cr,
.page-not-signed-in .cms-cr,
.cms-cr .medium-rectangle-cm {
    display: none;
}
 
.page-sign-out .cms-cr,
.page-sign-out .cms-cr .medium-rectangle-cm,
.page-sign-in .cms-cr {
    display: block;
}
 
.page-sign-in .cms-cr {
    margin-bottom: 2rem;
}
 
.cms-cr .cm {
    width: auto;
    background-color: #fff;
    margin: 0 auto;
}
 
.page-sign-out .cms-cr .cm-cr {
    margin: 3em 0;
}
 
.cms-cr .medium-rectangle-cm,
.cms-cr .medium-rectangle-cm a {
    width: 300px;
    height: 250px;
    margin: 0 auto;
}
 
.cms-cr .leaderboard-cm,
.cms-cr .leaderboard-cm a {
    width: 728px;
    height: 90px;
}
 
.page-sign-in .cm-cr .leaderboard-cm {
    display: none;
}
 
.takatack-cm-cr .leaderboard-cm {
    display: none;
}
 
.page-sign-in .takatack-cm-cr .leaderboard-cm.active {
    display: block;
}
 
.cm-cr a {
    display: block;
}
 
.page-sign-out .cms-cr {
    position: absolute;
    bottom: 1em;
    left: 50%;
    margin-left: -364px;
}
 
.page-signed-in .cms-cr {
    margin: 1em auto;
    height: 6.35em;
    margin-left: 3.9rem;
}
 
.page-signed-in .site-footer {
    position: absolute;
    z-index: 1;
    bottom: 0;
}
 
/*------------------------- Nav toggle -------------------------*/
.menu-toggle {
    display: none;
}
 
ul.nav-menu,
div.nav-menu > ul,
ul.children {
    margin: 0;
    padding: 0;
}
 
.nav-menu li a {
    display: block;
    line-height: normal;
}
 
.nav-menu .sub-menu,
.nav-menu .children {
    display: none;
    position: absolute;
    z-index: 99999;
    opacity: 0;
}
 
.nav-menu .sub-menu ul,
.nav-menu .children ul {
    border-left: 0;
    left: 100%;
    top: 0;
}
 
ul.nav-menu ul a,
.nav-menu ul ul a {
    margin: 0;
}
 
ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
    display: block;
    opacity: 1;
}
 
/*------------------------- UI -------------------------*/
.ui-dialog > div,
.com-pro-stat-frm > fieldset {
    padding: 0.75em 1em 1em;
    width: 17em;
}
 
.ui-dialog > div:after {
    display: block;
    content: " ";
    width: 100%;
    height: 5em;
    position: absolute;
}
 
.ui-dialog-hdr .txt-ttl,
.ui-dialog-hdr .dismiss-link-cr {
    display: table-cell;
}
 
.ui-dialog-hdr .txt-ttl {
    width: 100%;
}
 
.ui-dialog-hdr .dismiss-link-cr {
    padding-left: 1em;
}
 
/*------------------------- Stack -------------------------*/  
.stack,
.masthead-headers,
.navbar {
    position: relative;
}
 
.stack,
.masthead-headers {
    z-index: 90;
}
 
.navbar {
    z-index: 80;
}
 
.page-not-signed-in .nav-menu-sett {
    display: none;
}
 
/*------------------------- Media query -------------------------*/
 
    .site-title {
        transform: scale(1);
        zoom: 100%;
    }
     
    .site-title-link {
        width: auto;
        height: auto;
    }
     
    .page-home #primary {
        width: 21em;
        margin: 3em auto;
    }
     
    #main {
        margin-top: 5.45em;
    }
     
    .nav-menu > .nav-menu-pri {
        margin-top: 4.35em;     
    }
     
    .main-navigation {
        margin-left: 176px;
    }
     
    .masthead-headers {
        width: 176px;
    }
     
    .su-btn-cr {
        margin-top: 0.9em;
        margin-right: 0.9em;
    }
     
    .nav-menu > ul > li > a {
        width: 48px;
        height: 48px;   
    }
     
    .nav-menu-sec > li {
        width: 60px;
        height: 60px;
    }
 
 
    body {
        min-width: 760px;
    }
     
    #masthead {
        height: 4.45em;
    }
     
    #main-cr {
        margin-left: 4.45em;
        min-height: 31.75em;
    }
     
    #main {
        width: auto;
        margin-top: 0;
    }
 
    .page-sign-in div#primary {
        float: right;
        margin: 3em;
        margin-left: 0;
    }
     
    .page-sign-out #main-cr {
        min-height: 40.75em;
    }
     
    .nav-menu-pri,
    .nav-menu > ul > li > a {
        float: left;
    }
 
    .nav-menu > .nav-menu-pri {
        bottom: 8.35em;
        width: 4.45em;
        height: 100%;
    }
     
    .nav-menu > .nav-menu-pri > li {
        display: inline-block;
        float: left;
    }
     
    .nav-menu-sec > li {
        display: block;
    }
     
    .nav-menu-sec > .nav-menu-sett {
        position: fixed;
        bottom: 8.35em;
        left: 0;
    }
}
 
@media only screen and (min-width: 1024px) {
    body {
        min-width: 1024px;
    }
}
/*
@media only screen and (max-height: 540px) {
    html {
        min-height: 540px;
        overflow-y: auto;
    }
     
    .page-mobile #page {
        overflow: auto;
    }
     
    .nav-menu-sett,
    .com-comp-msg {
        position: absolute !important;
        top: 480px;
        bottom: auto !important;
    }
     
    .com-comp-msg {
        top: 430px;
    }
     
    #masthead-cr,
    .nav-menu-pri {
        position: absolute !important;
    }
     
    .nav-menu-pri {
        height: 540px !important;
    }
}
*/
@media only screen and (max-height: 940px) {
    body.page-sign-out {
        height: auto;
        overflow: auto;
    }
     
    .page-sign-out footer.site-footer {
        position: relative;
        top: 18.5em;
    }
}
 
@media only screen and (max-height: 768px) {
    body.page-not-signed-in {
        height: 100%;
        overflow: auto;
    }
     
    body.page-sign-in {
        height: auto;
    }
     
    body.page-sign-in.sticky-footer {
        overflow: hidden;
    }
     
    .page-not-signed-in .site-footer {
        position: absolute;
        top: 51.75em;
        bottom: auto;
    }
     
    .page-sign-in .site-footer {
        position: static;
    }
}
 
@media only screen and (max-height: 600px) {
    .com-welcome > div {
        position: absolute;
        top: 3em;
    }
     
    .com-welcome > div:after {
        content: " ";
        display: block;
        height: 3em;
        bottom: -3em;
    }
     
    .page-link-acount #colophon {<
        position: static;
    }
}
