@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Roboto:400,700,400italic);

.font-usage {
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

/*------------------------- Element highlight -------------------------*/
::-moz-selection {
color: #fff;
background: #222;
}

::selection {
color: #fff;
background: #222;
}

/*------------------------- Skeleton -------------------------*/
html {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
}

body {
background-color: #f2f2f2;
 
font-size: 0.75em;
color: #666;
}

.page-sign-in {
background-image: url('talk2/talk2-bg.jpg') !important;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.talk2-banner {
background-image: url('talk2/talk2-banner-bg.jpg') !important;
background-size: contain;
background-repeat: no-repeat;
position: relative;
}
.cms-cr .leaderboard-cm, .cms-cr .leaderboard-cm a {
width: 890px !important;
height: 101px !important;
}

.cms-cr .cm {
background-color: transparent !important;
}
.site-info {
background-color: #ebebeb;
}

.page-signed-in #colophon{background-color:#444;}

#masthead-cr,
.page-signed-in #colophon-cr {
box-shadow: 0 0 3px #333;
}

/*------------------------- Transition -------------------------*/
a,
.psu-btn,
a:after,
.lbl,
button {
-webkit-transition: color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
-moz-transition: color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
-ms-transition: color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
-o-transition: color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
transition: color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
}

.nav-menu a {
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.com-msg-inf,
.suggest-cont-info,
.cont-inf-pr-cr {
-webkit-transition: background-color 0.2s ease;
-moz-transition: background-color 0.2s ease;
-ms-transition: background-color 0.2s ease;
-o-transition: background-color 0.2s ease;
transition: background-color 0.2s ease;
}

/*------------------------- Header -------------------------*/
#masthead-cr {
background-color: #404040;
}

/*------------------------- Navigation -------------------------*/
.nav-menu a,
.nav-menu a:hover {
color: #fff;
}

.nav-menu a .lbl {
color: hsla(0, 0%, 100%, .85);
opacity: 1;
}

.nav-menu a:hover .lbl {
opacity: 0.5;
}

.nav-menu .current_nav-menu-item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
font-weight: bold;
}

/*------------------------- Links -------------------------*/
a,
.com-welcome-tour .psu-btn-neg > a {
color: hsl(0, 0%, 40%);
color: rgba(0, 0, 0, 0.65);
text-decoration: underline;
}

a:hover,
.com-welcome-tour .psu-btn-neg > a:hover,
.com-welcome-tour .psu-btn-neg > a:active,
.com-sett .term-acct-lnk:hover,
.com-sett .term-acct-lnk:active {
color: hsl(0, 0%, 50%);
color: rgba(0, 0, 0, 0.5);
text-decoration: none;
}

.com-sett .term-acct-lnk:active {
top: 0;
}

.ui-drawer a,
.sett-acct .term-acct-lnk,
.cont-inf-pr-cr .cont-inf-cr a,
.com-need-help a,
.psu-btn > a,
.com-welcome .sign-in-lnk,
.com-welcome .sign-up-lnk,
.ui-popover a,
.site-footer a {
text-decoration: none;
}

.ui-toolbar a,
.ui-popover a {
color: #fff;
}

.ui-toolbar a:hover,
.ui-popover a:hover {
color: #F47F20;
}

.ui-drawer,
.cont-inf-pr-cr .cont-inf-cr a,
.sett-acct .term-acct-lnk {
color: hsl(0, 0%, 40%);
}

/*------------------------- Buttons -------------------------*/
.psu-btn,
.com-welcome .sign-in-lnk,
.com-welcome .sign-up-lnk {
background-color: #4d4d4d;
background-color: hsl(0, 0%, 30%);
border-bottom: 2px solid hsla(0, 0%, 0%, .15);
border-radius: .25em;
}

.psu-btn:hover,
.psu-btn:focus {
background-color: hsl(0, 0%, 25%);
}

.psu-btn:active,
.psu-btn > a:active,
.com-welcome .sign-in-lnk:active,
.com-welcome .sign-up-lnk:active {
background-color: hsl(0, 0%, 20%);
top: 1px;
position: relative;
border-color: transparent;
}

.psu-btn-pri,
.com-welcome .sign-in-lnk {
background-color: #ff7f00;
background-color: hsl(30, 100%, 50%);
}

.psu-btn-pri:hover,
.com-welcome .sign-in-lnk:hover {
background-color: hsl(25, 100%, 50%);
}

.psu-btn-pri:active,
.com-welcome .sign-in-lnk:active {
background-color: hsl(25, 100%, 45%);
}

.com-welcome .sign-up-lnk {
background-color: #4C6D8C;
background-color: hsl(209, 30%, 40%);
}

.com-welcome .sign-up-lnk:hover {
background-color: hsl(215, 30%, 40%);
}

.com-welcome .sign-up-lnk:active {
background-color: hsl(215, 30%, 35%);
}

.psu-btn-pri:focus,
button:focus,
.psu-btn a:focus {
background-color: hsl(25, 100%, 40%);
}

.psu-btn-neg {
background-color: #b4b4b4;
background-color: hsl(0, 0%, 70%);
}

.psu-btn-neg:hover {
background-color: hsl(0, 0%, 65%);
}

.psu-btn-neg:active,
.psu-btn-neg a:focus {
background-color: hsl(0, 0%, 60%);
}

.psu-btn button,
.psu-btn > a,
.com-welcome .sign-in-lnk,
.com-welcome .sign-up-lnk {
color: #fff;
color: hsla(0, 0%, 100%, .95);
}

.psu-btn:active button,
.psu-btn:active > a {
color: hsla(0, 0%, 100%, .75);
}

button:focus,
.psu-btn a:focus {
box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

button:active,
.psu-btn a:active {
box-shadow: 0 0 0;
}

.com-msg-conv .fld-axn .psu-btn,
.msg-lst-cr .psu-btn,
.com-group-detail .fld-axn-leave .psu-btn,
.com-pro-cont-ct .psu-btn {
display: inline-block;
width: 50%;
border-radius: 0;
border-bottom: none;
background-color: #474747;
}

.com-group-detail .fld-axn-leave .psu-btn {
width: 100%;
}

.com-msg-conv .fld-axn .psu-btn:hover,
.msg-lst-cr .psu-btn:hover,
.com-pro-cont-ct .psu-btn:hover,
.com-group-detail .fld-axn-leave .psu-btn:hover,
.message-delete-submit-btn .psu-btn a:focus,
.message-delete-submit-btn .psu-btn button:focus {
background-color: #3C3C3C;
}

.com-msg-conv .fld-axn .psu-btn-pri button,
.msg-lst-cr .psu-btn button,
.com-pro-cont-ct .psu-btn-pri button {
border-left: 1px solid #333;
}

.com-msg-conv .fld-axn .psu-btn-pri button {
border-right: 1px solid #333;
}

.nav-menu-item-messages-link .count {
background-color: #F47F20;;
font-size: 0.75em;
border-radius: 0.25em;
text-align: center;
font-weight: bold;
}

.nav-menu > .nav-menu-pri {
background: #262626;
}

.nav-menu > .nav-menu-pri > li > a {
border-bottom: 1px solid #444;
}

/*------------------------- Reset -------------------------*/
.com-msg-lst .psu-btn a:focus,
.com-msg-lst .psu-btn button:focus,
.com-msg-conv .fld-axn .psu-btn a:focus,
.com-msg-conv .fld-axn .psu-btn button:focus,
.com-welcome-tour .psu-btn-neg,
.com-welcome-tour .psu-btn-neg:hover,
.com-welcome-tour .psu-btn-neg:active,
.com-welcome-tour .psu-btn-neg:focus,
.com-welcome-tour .psu-btn-neg > a:focus,
.com-set-tone .fld-tone .psu-btn,
.com-comp-msg .fld-axn .psu-btn-voice,
.com-comp-msg .fld-axn .psu-btn-voice > a:hover,
.com-comp-msg .fld-axn .psu-btn-voice > a:active {
background: none;
}


.sett-acct .psu-btn-neg:hover,
.com-comp-msg .fld-axn .psu-btn-voice:hover {
background: transparent;
}

.com-welcome-tour .psu-btn-neg,
.com-welcome-tour .psu-btn-neg > a,
.com-welcome-tour .psu-btn-neg > a:focus,
.com-set-tone .fld-tone .psu-btn,
.com-msg-lst .psu-btn > a:focus,
.com-msg-conv .fld-axn .psu-btn > a:focus,
.com-pro-cont .psu-btn > a:focus,
.com-comp-msg .fld-axn .psu-btn-voice,
.com-comp-msg .fld-axn .psu-btn-voice > a:hover,
.com-comp-msg .fld-axn .psu-btn-voice > a:active,
.com-comp-msg .fld-axn .psu-btn-voice > a:focus,
.com-comp-msg .fld-axn .psu-btn-close,
.com-comp-msg .fld-axn .psu-btn-close > a:hover,
.com-comp-msg .fld-axn .psu-btn-close > a:active,
.com-comp-msg .fld-axn .psu-btn-close > a:focus,
.com-record-message .psu-btn,
.com-record-message .controls .psu-btn button,
.controls .psu-btn,
.ui-popover .psu-btn {
background: inherit;
border: 0 none;
box-shadow: 0 0;
border-radius: 0;
position: static;
}

.com-welcome-tour .psu-btn-neg,
.com-welcome-tour .psu-btn-neg > a,
.com-welcome-tour .psu-btn-neg > a:focus,
.com-set-tone .fld-tone .psu-btn {
padding: 0;
min-width: 0;
}

/*------------------------- Border radius -------------------------*/
.ui-border-radius-top {
border-top-left-radius: .25em;
border-top-right-radius: .25em;
}

.ui-border-radius-bottom {
border-bottom-left-radius: .25em;
border-bottom-right-radius: .25em;
}

button:focus,
.psu-btn a:focus {
border-radius: .35em;
}

.page-sign-in .com-si-pr,
.page-sign-up .com-su,
.com-migration,
.com-v5-sign-in,
.com-v5-sign-in-link,
.com-vc,
.com-vc-cr {
border-radius: .35em;
border-color: #d9d9d9;
border: 1px solid hsl(0, 0%, 85%);
background-color: #fff;
box-shadow: 0 1px 0 1px hsla(0, 0%, 0%, .1);
}

.ui-dialog > div,
.com-pro-stat-frm > fieldset {
background-color: #fff;
border-radius: .35em;
border-color: #d9d9d9;
border: 1px solid hsl(0, 0%, 85%);
}

/*------------------------- Text inside content -------------------------*/
.highlight-b {
font-weight: bold;
}

.highlight-big {
font-size: 1.25em;
font-weight: bold;
color: hsl(30, 100%, 50%);
display: block;
margin: 0.25em;
}

.txt-ttl,
.text-title,
.txt-title {
color: #999;
color: hsl(0, 0%, 60%);
}

.cont-inf-cr h1,
.com-pro-stat-cr .txt-ttl,
.com-group-detail-cr > header .text-title,
.com-acct-inf-mn .txt-ttl,
.com-acct-inf-id .txt-ttl,
.com-acct-inf-lnk-acct .txt-ttl,
.com-sett .txt-ttl,
.com-credits-parent .txt-title,
.com-sharing-parent .txt-title,
.com-need-help .txt-title {
font-size: 0.8em;
border-bottom: 1px solid #eee;
color: #999;
text-transform:uppercase;
font-weight:normal;
padding-bottom: 0.5em;
}

.sett-cont .psu-chk:before {
display: block;
content: " ";
border-top: 1px solid #eee;
margin: 0 1em;
}

div.com-credits-parent .txt-title,
div.com-sharing-parent .txt-title {
margin-bottom: 0;
}

.ui-dialog .txt-title,
.ui-dialog .txt-ttl,
.com-pro-stat-frm .txt-desc,
.com-edit-mn-frm .txt-desc {
margin: 0 0 0.25em;
text-transform: none;
padding: 0 0 0.5em;
}

.com-welcome .txt-title {
padding-left: 2em;
padding-right: 2em;
}

.ui-drawer > div,
.com-sett > div > div {
background: #fff;
box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.25);
}

.com-sett > div {
background: none;
box-shadow: 0 0 0;
}

.sett-cont .hint,
.note {
font-size: 0.8em;
color: #999;
}

.set-tone-lnk:hover,
.set-tone-lnk:active,
.view-credits-lnk:hover,
.view-credits-lnk:active,
.share-lnk:hover,
.share-lnk:active,
.psu-btn > .term-acct-lnk:hover,
.psu-btn > .term-acct-lnk:active,
.com-need-help ul a:hover,
.com-need-help ul a:active,
.com-pro-cont-ct .com-cont-inf:hover .cont-inf-pr-cr,
.com-pro-cont-ct .com-cont-inf:active .cont-inf-pr-cr {
background-color: #fee4d3;
}

.set-tone-lnk .tone-name {
color: rgba(102, 102, 102, 0.5);
}

.sett-acct .psu-btn:active {
top: 0;
background-color: transparent;
color: #826b58;
}

.com-pro-nam .ful-nam,
.com-cont-det .cont-nam-cr {
color: #fff;
font-size: 1.2em;
}

.msg-timestamp {
color: #999 ;
font-size: 0.75em;
text-align: center;
}

.suggest-cont-info .cont-mob,
.cont-inf-pr-cr .cont-inf-cr .cont-mob-lnk,
.com-msg-inf-ct .msg-ct,
.char-sms-count-cr {
color: #999;
}

.msg-status-failed {
color: #FF9494;
}

.com-si-sn,
.com-welcome-tour .picture-slider {
text-align: center;
}

/*------------------------- Border -------------------------*/
.com-edit-mn header .txt-ttl,
.suggest-cont-info:last-child,
.com-cont-add .psu-inp-cc-mn {
border: 0 none;
}

.ui-dialog li:not(:last-child),
.cont-def-cr,
.cont-favs-cr,
.suggest-cont-info {
border-bottom: 1px solid #eee;
}

.nav-menu-contacts {
border-left: 1px solid #444;
border-right: 1px solid #444;
}

/*------------------------- Font size -------------------------*/
.txt-title,
.text-title,
.txt-ttl,
.com-pro-nam .ful-nam,
.com-cont-det .cont-nam-cr,
.com-pro-stat-frm .txt-desc,
.com-share .txt-title,
.com-credits .txt-title,
.com-edit-mn header .txt-ttl,
.com-need-help .txt-title {
font-size: 1.125em;
}

.com-welcome-tour .caption-title {
font-size: 1.25em;
}

.rst-pwd-lnk-cr,
.send-code-link-cr {
font-size: 0.95em;
}

.suggest-cont-info .cont-mob,
.com-welcome-tour .page {
font-size: 0.875em;
}

/*------------------------- Popover -------------------------*/
.com-cont-srch-menu,
.pop-over,
.ui-popover,
.has-tooltip .com-suc {
background: #333;
}

/*------------------------- Forms -------------------------*/
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
color: #808080;
}

input,
select,
textarea,
button {
font-family: inherit;
}

input,
select,
textarea,
.psu-inp-cc-mn {
color: #222;
background-color: #fff;
}

.ui-vis-border,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
select,
textarea,
.psu-inp-cc-mn,
.com-cont-add .inp-txt-mn {
border-color: #d9d9d9;
border: 1px solid hsl(0, 0%, 85%);
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="search"]:hover,
input[type="password"]:hover,
select:hover,
textarea:hover,
.psu-inp-cc-mn:hover,
.com-cont-add .inp-txt-mn:hover {
border-color: #666;
border-color: hsla(0, 0%, 70%, 1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
border-color: #222;
border-color: hsla(0, 0%, 0%, .5);
}

.com-cont-add .inp-txt-mn:focus {
border-width: 1px;
border-style: solid;
border-color: #ff7f00;
}

textarea:disabled {
color: #999;
}

.com-migration, .social-cr .txt-desc,
.com-si-pr .com-si-sn,
.com-v6-welcome .fld-axn {
border-top: 1px solid #eee;
}

/*------------------------- Input -------------------------*/
input[type]:focus {
border-color: #ff7f00;
}

.com-cont-srch-ct .psu-inp-kw input[type="search"] {
font-size: 1em;
}

/*------------------------- Input - country code & mobile number combo -------------------------*/
.psu-inp-cc-mn input,
.psu-inp-cc-mn select {
background-color: transparent;
border: none;
border-radius: 0;
box-shadow: none;
}

/*------------------------- Footer -------------------------*/
.menu-footer-container a {
color: #808080;
color: hsla(0, 0%, 50%, 1);
}

.site-info {font-size:.75em;}

.site-info p {
color: hsla(0, 0%, 50%, .65);
}

/*------------------------- com-si-pr ctmv6-001u -------------------------*/
.overlay {
background:#000;
height: 100%;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1;
display: none;
filter: alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}

/*------------------------- icons -------------------------*/
.cont-srch-opts-link .lbl,
.cont-fav-lnk .lbl,
.send-msg-lnk:after,
.add-cont-lnk-cr .add-cont-lnk .lbl,
.fld-kw .srch-lnk .lbl,
.edit-ful-nam-lnk,
.edit-stat-lnk,
.edit-group-name-lnk,
.edit-mobile-number-link,
.edt-pic-lnk,
.dismiss-toolbar-link,
.cont-edt-lnk .lbl,
.cont-det-opts-link .lbl,
.lnk-acct-ls li .linked:after,
.msg-thrd-opts-link .lbl,
.msg-view-opts-link .lbl,
.dismiss-link .lbl,
.show-cont-lst-lnk .lbl,
.group-info-lnk .lbl,
.msg-failed-lnk .lbl,
.cont-lnk .lbl,
.add-memb-lnk .lbl,
.group-message-lnk .lbl,
.comp-msg-lnk .lbl,
.msg-srch-opts-link .lbl,
.add-as-rec-lnk .lbl,
.com-msg-conv .cncl-lnk:before,
.com-msg-conv .fld-axn .btn-sub:before,
.msg-lst-cr .btn-sub:before,
.msg-lst-cr .cncl-lnk:before,
.com-pro-cont-ct .btn-sub:before,
.com-pro-cont-ct .cncl-lnk:before,
.com-group-detail .fld-axn-leave .btn-sub:before,
.view-credits-lnk .lbl:after,
.set-tone-lnk .lbl:after,
.share-lnk-cr .lbl:after,
.sett-acct .term-acct-lnk:after,
.com-msg-inf .send-error-cr .lbl,
.com-share .share-item .lbl:before,
.com-set-tone .fld-tone .psu-btn button,
.com-comp-msg .fld-axn .psu-btn-voice .lbl,
.com-comp-msg .fld-axn .psu-btn-close .lbl,
.com-record-message .fld-axn .psu-btn .lbl,
.player-cr .controls .psu-btn .lbl,
.com-record-message .recording-icon .lbl,
.ui-toolbar-group-detail .add-members-lnk .lbl {
background-image:url(https://static6.chikka.com/svg/icons.svg);
background-repeat:no-repeat;
display:block;
text-indent:-9999px;
width:32px;
height:32px;
padding:0;
content: " ";
}

.com-msg-inf .send-error-cr .lbl,
.group-message-lnk .lbl,
.comp-msg-lnk .lbl,
.msg-srch-opts-link .lbl,
.selected-cont-info .dismiss-link .lbl,
.add-cont-lnk-cr .add-cont-lnk .lbl,
.cont-lnk .lbl,
.msg-thrd-opts-link .lbl,
.show-cont-lst-lnk .lbl,
.group-info-lnk .lbl,
.dismiss-toolbar-link,
.cont-srch-opts-link .lbl,
.com-pro-cont .send-msg-lnk:after,
.add-as-rec-lnk .lbl,
.fld-kw .srch-lnk .lbl,
.player-cr .controls .psu-btn .lbl,
.com-comp-msg .fld-axn .psu-btn-voice .lbl,
.com-comp-msg .fld-axn .psu-btn-close .lbl,
.com-record-message .fld-axn .psu-btn .lbl,
.com-record-message .fld-axn .psu-btn .lbl,
.com-record-message .fld-axn .psu-btn .lbl,
.com-record-message .recording-icon .lbl,
.cont-fav-lnk .lbl,
.cont-edt-lnk .lbl,
.cont-det-opts-link .lbl,
.lnk-acct-ls li a,
.edit-stat-lnk,
.edit-group-name-lnk,
.edit-ful-nam-lnk,
.edt-pic-lnk,
.edit-mobile-number-link,
.view-credits-lnk .lbl:after,
.set-tone-lnk .lbl:after,
.share-lnk-cr .lbl:after,
.sett-acct .term-acct-lnk:after,
.com-set-tone .fld-tone .psu-btn button,
.dismiss-link .lbl,
.com-share .share-item .lbl:before {
transform: scale(0.75);
transform-origin: 0 0;
-webkit-transform: scale(0.75);
-webkit-transform-origin: 0 0;
}

.com-msg-inf .send-error-cr,
.comp-msg-lnk,
.group-message-lnk,
.msg-srch-opts-link,
.selected-cont-info .cont-pic img,
.selected-cont-info .dismiss-link,
.add-cont-lnk-cr .add-cont-lnk,
.cont-lnk,
.msg-thrd-opts-link,
.show-cont-lst-lnk,
.group-info-lnk,
.cont-srch-opts-link,
.add-as-rec-lnk,
.fld-kw .srch-lnk-cr,
.player-cr .controls .psu-btn button,
.selected-cont-info .dismiss-link-cr,
.com-comp-msg .fld-axn .psu-btn-voice,
.com-comp-msg .fld-axn .psu-btn-close,
.com-record-message .fld-axn .psu-btn,
.com-record-message .fld-axn .psu-btn,
.com-record-message .fld-axn .psu-btn,
.com-record-message .recording-icon,
.cont-fav-lnk,
.cont-edt-lnk,
.cont-det-opts-link,
.dismiss-toolbar-link-cr,
.com-pro-cont .send-msg-lnk,
.com-pro-cont .add-as-rec-lnk,
.edit-ful-nam-lnk-cr,
.edt-pic-lnk-cr,
.edit-stat-lnk-cr,
.edit-group-name-lnk-cr,
.edit-mobile-number-link-cr,
.com-set-tone .fld-tone .psu-btn,
.dismiss-link {
width: 24px;
height: 24px;
}

.com-v6-welcome .welcome-v6-banner-cr .lbl,
.com-welcome .welcome-banner-cr .lbl,
.com-mobile-welcome .mobile-welcome-banner-cr .lbl {
background-image: url(img/welcome.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display: block;
width: 100%;
height: 140px;
text-indent: -9999px;
margin: auto;
}

.com-sign-out .download-banner .lbl {
background-image: url(img/signout.png);
display: block;
width: 600px;
height: 360px;
text-indent: -9999px;
}

.com-sign-out .download-links-cr .lbl {
background-image: url(img/app-badges.png);
display: inline-block;
vertical-align: middle;
width: 135px;
height: 40px;
text-indent: -9999px;
}

.com-sign-out .download-links-cr .android-download-lnk-cr .lbl {
background-position: -135px 0;
width: 129px;
height: 45px;
text-indent: -9999px;
}

.com-mobile-welcome .mobile-welcome-banner-cr .lbl {
width: 100%;
background-size: 100% auto;
background-repeat: no-repeat;
}

.loader-cr {
position: relative;
}

.loader {
width: 100%;
height: 100%;
position: absolute;
background-color: rgba(0,0,0,0.5);
z-index: 1;
display: none;
}

.loader .icon {
background-image: url(img/throbber.gif);
top: 50%;
left: 50%;
position: absolute;
margin-top: -16px;
margin-left: -16px;
width: 32px;
height: 32px;
display: block;
text-indent: -9999px;
}

.loader-cr .loader {
display: block;
}

.com-share .share-item .share-sms .lbl:before {
background-position: -128px 0;
}

.nav-menu > ul > li > a .lbl {
background-image:url(https://static6.chikka.com/svg/nav-icons.svg);
background-repeat:no-repeat;
display:block;
text-indent:-9999px;
width:48px;
height:48px;
padding:0;
content: " ";
}

.nav-menu > ul > li > a .lbl {
transform-origin: 24px 0;
transform: scale(0.67);
-webkit-transform-origin: 24px 0;
-webkit-transform: scale(0.67);
}

.nav-menu > ul.nav-menu-sec > li > a .lbl {
transform-origin: 0 0;
transform: scale(0.67);
-webkit-transform-origin: 24px 0;
-webkit-transform: scale(0.67);
}

.nav-menu > ul > li > a {
padding: 0.5em;
}

.contacts-on .nav-menu-item-messages-link span.lbl {background-position:0px 0px;}
.selected .nav-menu-item-messages-link .lbl {background-position:0px -48px;}
.nav-menu-item-contacts-link .lbl {background-position:-48px 0;}
.contacts-on .nav-menu-item-contacts-link .lbl,
.selected .nav-menu-item-contacts-link .lbl {
background-position:-48px -48px;
}
.nav-menu-item-profile-link .lbl {background-position:-96px 0;}
.selected .nav-menu-item-profile-link .lbl {background-position:-96px -48px;}
.nav-menu-item-sett-link .lbl{background-position:-144px 0;}
.selected .nav-menu-item-sett-link .lbl{background-position:-144px -48px;}
.nav-menu-item-log-out-link .lbl {background-position:-192px 0;}
.selected .nav-menu-item-log-out-link .lbl {background-position:-192px -48px;}


.comp-msg-lnk .lbl,
.group-message-lnk .lbl,
.add-cont-lnk-cr .add-cont-lnk .lbl,
.com-cont-det-axn-ct .cont-edt-lnk .lbl,
.edit-stat-lnk,
.edit-group-name-lnk,
.edit-mobile-number-link,
.edt-pic-lnk,
.edit-ful-nam-lnk,
.send-msg-lnk:after,
.cont-lnk .lbl,
.add-memb-lnk .lbl,
.show-cont-lst-lnk .lbl,
.group-info-lnk .lbl,
.cont-fav-lnk .lbl,
.srch-lnk .lbl,
.msg-failed-lnk .lbl,
.ui-dialog .dismiss-link .lbl,
.com-msg-conv .cncl-lnk:before,
.com-msg-conv .fld-axn .btn-sub:before,
.msg-lst-cr .btn-sub:before,
.msg-lst-cr .cncl-lnk:before,
.com-pro-cont-ct .btn-sub:before,
.com-pro-cont-ct .cncl-lnk:before,
.com-group-detail .fld-axn-leave .btn-sub:before,
.add-as-rec-lnk .lbl,
.dismiss-toolbar-link,
.view-credits-lnk .lbl:after,
.set-tone-lnk .lbl:after,
.share-lnk-cr .lbl:after,
.sett-acct .term-acct-lnk:after,
.msg-rec .msg-view-opts-link .lbl,
.com-comp-msg .fld-axn .psu-btn-voice .lbl,
.com-comp-msg .fld-axn .psu-btn-close .lbl,
.player-cr .controls .psu-btn:hover .lbl,
.cont-srch-opts-link .lbl,
.cont-det-opts-link .lbl,
.msg-thrd-opts-link .lbl,
.msg-view-opts-link .lbl,
.msg-srch-opts-link .lbl,
.msg-rec .msg-view-opts-link:hover .lbl,
.ui-toolbar-group-detail .add-members-lnk {
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}

.comp-msg-lnk:hover .lbl,
.group-message-lnk:hover .lbl,
.add-cont-lnk-cr .add-cont-lnk:hover .lbl,
.com-cont-det-axn-ct .cont-edt-lnk:hover .lbl,
.edit-stat-lnk:hover,
.edit-mobile-number-link:hover,
.edt-pic-lnk:hover,
.cont-edt-lnk:hover,
.edit-ful-nam-lnk:hover,
.cont-fav-lnk:hover .lbl,
.send-msg-lnk:hover:after,
.cont-lnk:hover .lbl,
.add-memb-lnk:hover .lbl,
.edit-group-name-lnk:hover,
.show-cont-lst-lnk:hover .lbl,
.group-info-lnk:hover .lbl,
.cont-fav-lnk:hover .lbl,
.srch-lnk:hover .lbl,
.fav-on .lbl,
.msg-failed-lnk:hover .lbl,
.ui-dialog .dismiss-link:hover .lbl,
.add-as-rec-lnk:hover .lbl,
.dismiss-toolbar-link:hover,
.com-comp-msg .fld-axn .psu-btn-voice:hover .lbl,
.com-comp-msg .fld-axn .psu-btn-close:hover .lbl,
.player-cr .controls .psu-btn .lbl,
.cont-srch-opts-link:hover .lbl,
.cont-det-opts-link:hover .lbl,
.msg-thrd-opts-link:hover .lbl,
.msg-view-opts-link:hover .lbl,
.msg-srch-opts-link:hover .lbl,
.contact-selected .com-pro-cont-ct .btn-sub:before,
.ui-toolbar-group-detail .add-members-lnk:hover {
filter:alpha(opacity=100);
-moz-opacity:1;
-khtml-opacity: 1;
opacity: 1;
}

.edt-pic-lnk {
background-color: rgba(0,0,0,0.5);
border-radius:0.3em;
}

.add-cont-lnk-cr .add-cont-lnk .lbl,
.ui-toolbar-group-detail .add-members-lnk .lbl {
background-position:-32px 0;
}
.edit-ful-nam-lnk,
.edit-stat-lnk,
.edit-group-name-lnk,
.edit-mobile-number-link,
.edt-pic-lnk,
.cont-edt-lnk {
background-position:-768px 0;
}
.edit-ful-nam-lnk,
.edt-pic-lnk {
background-position:-768px -32px;
}
.cont-fav-lnk .lbl {background-position:-96px 0;}
.cont-fav-lnk:hover .lbl,
.fav-on .lbl {
background-position:-96px -32px;
}
.send-msg-lnk:after {background-position:-128px 0;}
.cont-lnk .lbl {background-position:-160px 0;}
.show-cont-lst-lnk .lbl {background-position:-192px 0;}
.cont-srch-opts-link .lbl,
.cont-det-opts-link .lbl,
.msg-thrd-opts-link .lbl,
.msg-srch-opts-link .lbl {
background-position:-256px 0;
}
.srch-lnk .lbl {background-position:-288px 0;}
.msg-failed-lnk .lbl {background-position:-320px 0;}
.ui-dialog .dismiss-link .lbl,
.com-comp-msg .fld-axn .psu-btn-close .lbl {
background-position:-352px 0;
}
.dismiss-link .lbl {background-position:-352px -32px;}
.com-msg-inf .send-error-cr .lbl {
background-position: -384px -0px;
text-align: center;
}
.add-as-rec-lnk .lbl {background-position:-224px 0;}
.com-msg-conv .cncl-lnk:before,
.com-msg-conv .fld-axn .btn-sub:before,
.msg-lst-cr .btn-sub:before,
.msg-lst-cr .cncl-lnk:before,
.com-pro-cont-ct .btn-sub:before,
.com-pro-cont-ct .cncl-lnk:before,
.com-group-detail .fld-axn-leave .btn-sub:before {
display: inline-block;
vertical-align: middle;
background-position: -416px 0;
margin-top: -0.2em;
margin-right: 0.25em;
}
.com-msg-conv .fld-axn .btn-sub:before,
.msg-lst-cr .btn-sub:before,
.com-pro-cont-ct .btn-sub:before {
background-position: -448px 0;
}
.contact-selected .com-pro-cont-ct .btn-sub:before {
background-position: -448px -32px;
}
.dismiss-toolbar-link {background-position:-480px 0;}
.view-credits-lnk .lbl:after,
.set-tone-lnk .lbl:after,
.share-lnk-cr .lbl:after,
.sett-acct .term-acct-lnk:after {
display: inline-block;
vertical-align: middle;
background-position: -512px 0;  
margin-top: -0.25em;
position: absolute;
right: 0;
}

.lnk-acct-ls li .linked:after {background-position:-544px 0;}
.cont-mob-cr .lbl:before {background-position:-576px 0;}
.com-cont-det-axn-ct .cont-edt-lnk .lbl {background-position:-64px 0;}
.com-set-tone .fld-tone .psu-btn button {background-position:-608px 0}
.com-set-tone .fld-tone .psu-btn-neg button {background-position:-672px 0}
.com-comp-msg .fld-axn .psu-btn-voice .lbl {background-position:-576px 0}
.player-cr .controls .psu-btn-play .lbl {background-position:-608px 0}
.player-cr .controls .psu-btn-pause .lbl {background-position:-640px 0;}
.msg-view-opts-link .lbl {background-position:-800px 0}
.msg-rec .msg-view-opts-link .lbl {background-position:-800px -32px;}
.group-message-lnk .lbl {background-position:-832px 0;}
.group-info-lnk .lbl {background-position:-864px 0;}
.add-memb-lnk .lbl {background-position:-896px 0;}

.com-share .share-item .lbl:before {background-image: url(https://static6.chikka.com/svg/share-icons.svg);}
.com-share .share-item .share-email .lbl:before {background-position:0 0}
.com-share .share-item .share-fb .lbl:before {background-position:-32px 0}
.com-share .share-item .share-twitter .lbl:before {background-position:-64px 0}
.com-share .share-item .share-sms .lbl:before {background-position:-96px 0}

.com-record-message .fld-axn .psu-btn-rec .lbl,
.com-record-message .fld-axn .psu-btn-stop .lbl {background-image: url(https://static6.chikka.com/svg/record-icons.svg);}
.com-record-message .fld-axn .psu-btn-stop .lbl {background-position:-96px 0;}

.com-si-sn-ls li a,
.lnk-acct-ls li a {
display: block;
width: 48px;
height: 48px;
background-image: url(https://static6.chikka.com/svg/sn-icons.svg);
background-repeat: no-repeat;
text-indent:-9999px;
}

.com-si-sn-ls li a {
background-image: url(img/sn-icons.png);
}

.lnk-acct-ls .sn-tw-acct-lnk,
.com-si-sn-ls li.sn-tw-si a {
background-position:-48px 0;
}
.lnk-acct-ls .sn-gl-acct-lnk,
.com-si-sn-ls li.sn-gl-si a {
background-position:-96px 0;
}
.lnk-acct-ls .sn-ln-acct-lnk,
.com-si-sn-ls li.sn-ln-si a {
background-position:-144px 0;
}

/*---- Contacts ----*/
.com-cont-favs .txt-ttl,
.com-cont-def .txt-ttl {
background-color: #e6e6e6;
text-transform: uppercase;
font-size: 0.85em;
}

/*---- Toolbar ----*/
.ui-toolbar,
.cont-suggest{
-moz-box-sizing: border-box;
background-color: #fff;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
margin-bottom: 1px;
}

/*---- Drawer ----*/
.com-msg-lst{
-moz-box-sizing: border-box;
box-shadow: 2px 0 0 0 hsla(0, 0%, 0%, .1);
background-color:#fff;
}

/*------------------------- Messages -------------------------*/
.msg-cr{
background-color:#fff;
border-radius: 0.65em;
padding: 0.35em 3em 0.35em 0.9em;
-moz-box-sizing: border-box;
box-shadow: 0 2px 0 0 hsla(0, 0%, 0%, .1);
}

.msg-rec .msg-cr {
background-color: #F47F20;
color: #fff;
}

.selected-cont-info{
background-color:#444;
color:#fff;
}

.selected-cont-info .cont-mob{
background-color:#444;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.20);
}

.suggest-cont-info:hover,
.suggest-cont-info.selected {
background-color:#f7f7f7;
}

.com-msg-inf:hover,
.msg-lst-items-lst .unread{
background-color:#fde5d2;
}

.com-msg-inf:hover .cont-nam,
.unread .cont-nam{color:#444;}

.com-comp-msg,
.com-comp-share {
background-color: #fff;
border-top: 1px solid #ccc;
}

.com-msg-cont-inf .cont-nam-lnk,
.com-msg-cont-inf .group-name {
font-size:1.2em;
}

.com-msg-cont-inf .stat-disp {
border-top: 1px solid #EEEEEE;
}

.entry-meta {
color: #aaa;
font-size: 0.75em;
}

.char-sms-count-cr {
font-size: 0.75em;
}

.selected-cont-info .cont-mob {
font-size: 0.75em;
}

.unread-count-cr {
background-color: #F47F20;
border-radius: 3px;
color: #FFFFFF;
font-size: 1em;
font-weight: bold;
text-align: center;
}

.com-msg-inf-ct .msg-ct {
font-size: 0.875em;
}

.ui-toolbar-msg-multi .cont-inf-pr-cr .cont-inf-cr a,
.ui-toolbar-share-multi .cont-inf-pr-cr .cont-inf-cr a {
font-size:1em;
}

.select-all-cr {
background:#555;
color:#fff;
}

.sett-acct .psu-btn-neg,
.sett-acct .psu-btn-neg:focus {
background: transparent;
border-bottom: none;
text-align: left;
}

.sett-acct .psu-btn-neg > a:focus {
box-shadow: 0 0 0;
border-radius: 0;
background: #FEE4D3;
}

.com-msg-conv .com-msg-conv-ct > .fld-axn {
background-color: #474747;
}

/*------------------------- Player -------------------------*/
.msg .player-cr .player {
background-color: rgba(0,0,0,0.25);
}

.msg-rec .player-cr .player {
background-color: rgba(255,255,255,0.5);
}

.player-cr .player .playbar {
border-radius: 0.35em;
background-color: #FF7F00;
}

.msg-rec .player-cr .player .playbar {
background-color: #404040;
}


/*------------------------- Mobile -------------------------*/
.page-mobile .site-content > section > div > div > div {
background: #fff;
box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.1);
border: 1px solid rgb(216, 216, 216);
border-radius: 0.35em;
}

.page-mobile .site-content > section > div > div  {
font-size: 0.9em;
}

.com-mobile-link-account .divider {
text-align: center;
font-size: 0.9em;
text-transform: uppercase;
color: #999;
}

.com-mobile-link-account .divider:before,
.com-mobile-link-account .divider:after {
content: " ";
display: inline-block;
border-top: 1px solid #d8d8d8;
width: 40%;
position: relative;
top: -0.125em;
}

.com-mobile-link-account .com-si-sn-ls li a {
width: 32px;
height: 32px;
background-size: 400%;
}

.com-mobile-link-account .com-si-sn-ls li .sn-tw-si-lnk {background-position: -32px 0;}
.com-mobile-link-account .com-si-sn-ls li .sn-gl-si-lnk {background-position: -64px 0;}
.com-mobile-link-account .com-si-sn-ls li .sn-ln-si-lnk {background-position: -96px 0;}


     
.page-mobile .site-content > section > div > div {
    font-size: 1em;
}
 
.page-mobile .site-title {
    width: 88px;
    height: 24px;
}
 
.com-mobile-link-account .com-si-sn-ls li a {
    width: 48px;
    height: 48px;
    background-size: auto;
}
 
.com-mobile-link-account .com-si-sn-ls li .sn-tw-si-lnk {background-position: -48px 0;}
.com-mobile-link-account .com-si-sn-ls li .sn-gl-si-lnk {background-position: -96px 0;}
.com-mobile-link-account .com-si-sn-ls li .sn-ln-si-lnk {background-position: -144px 0;}
 



body {
    font-size: 0.875em; 
}
 
.page-mobile .site-content > section > div > div {
    font-size: 1.125em;
}
 
.com-mobile-link-account .com-si-sn-ls li:not(:last-child) {
    margin-right: 0.75rem;
}
 
.page-mobile .site-title {
    width: 102px;
    height: 28px;
}
 
.com-msg-inf .send-error-cr .lbl,
.group-message-lnk .lbl,
.comp-msg-lnk .lbl,
.msg-srch-opts-link .lbl,
.selected-cont-info .dismiss-link .lbl,
.add-cont-lnk-cr .add-cont-lnk .lbl,
.cont-lnk .lbl,
.msg-thrd-opts-link .lbl,
.show-cont-lst-lnk .lbl,
.group-info-lnk .lbl,
.dismiss-toolbar-link,
.cont-srch-opts-link .lbl,
.com-pro-cont .send-msg-lnk:after,
.add-as-rec-lnk .lbl,
.fld-kw .srch-lnk .lbl,
.player-cr .controls .psu-btn .lbl,
.com-comp-msg .fld-axn .psu-btn-voice .lbl,
.com-comp-msg .fld-axn .psu-btn-close .lbl,
.com-record-message .fld-axn .psu-btn .lbl,
.com-record-message .fld-axn .psu-btn .lbl,
.com-record-message .fld-axn .psu-btn .lbl,
.com-record-message .recording-icon .lbl,
.cont-fav-lnk .lbl,
.cont-edt-lnk .lbl,
.cont-det-opts-link .lbl,
.lnk-acct-ls li a,
.edit-stat-lnk,
.edit-group-name-lnk,
.edit-ful-nam-lnk,
.edt-pic-lnk,
.edit-mobile-number-link,
.view-credits-lnk .lbl:after,
.set-tone-lnk .lbl:after,
.share-lnk-cr .lbl:after,
.sett-acct .term-acct-lnk:after,
.com-set-tone .fld-tone .psu-btn button,
.dismiss-link .lbl,
.com-share .share-item .lbl:before,
.nav-menu > ul > li > a .lbl,
.nav-menu > ul.nav-menu-sec > li > a .lbl {
    transform: scale(1);
    -webkit-transform: scale(1);
}
 
.com-msg-inf .send-error-cr,
.comp-msg-lnk,
.group-message-lnk,
.msg-srch-opts-link,
.selected-cont-info .cont-pic img,
.selected-cont-info .dismiss-link,
.add-cont-lnk-cr .add-cont-lnk,
.cont-lnk,
.msg-thrd-opts-link,
.show-cont-lst-lnk,
.group-info-lnk,
.cont-srch-opts-link,
.add-as-rec-lnk,
.fld-kw .srch-lnk-cr,
.player-cr .controls .psu-btn button,
.selected-cont-info .dismiss-link-cr,
.com-comp-msg .fld-axn .psu-btn-voice,
.com-comp-msg .fld-axn .psu-btn-close,
.cont-fav-lnk,
.cont-edt-lnk,
.cont-det-opts-link,
.dismiss-toolbar-link-cr,
.com-pro-cont .send-msg-lnk,
.com-pro-cont .add-as-rec-lnk,
.edit-ful-nam-lnk-cr,
.edt-pic-lnk-cr,
.edit-stat-lnk-cr,
.edit-group-name-lnk-cr,
.edit-mobile-number-link-cr,
.com-set-tone .fld-tone .psu-btn,
.dismiss-link {
    width: 32px;
    height: 32px;
}
 
.com-record-message .fld-axn .psu-btn {
    padding: 0;
}
 
.com-record-message .fld-axn .psu-btn .lbl {
    width: 96px;
    height: 96px;
}

.view-credits-lnk .lbl:after,
.set-tone-lnk .lbl:after,
.share-lnk-cr .lbl:after,
.sett-acct .term-acct-lnk:after {
    right: 0.5em;
}


.nav-menu-contacts {
    border-left: 0 none;
    border-right: 0 none;
}
 
.view-credits-lnk .lbl:after,
.set-tone-lnk .lbl:after,
.share-lnk-cr .lbl:after,
.sett-acct .term-acct-lnk:after {
    margin-top: -0.5em;
    position: static;
    float: right;
}
 
.selected-cont-info .cont-pic img {
    width: 26px;
    height: 26px;
}
 
.com-v6-welcome .welcome-v6-banner-cr .lbl,
.com-welcome .welcome-banner-cr .lbl,
.com-mobile-welcome .mobile-welcome-banner-cr .lbl {
    width: 660px;
}
