
  #headertitle { 
/*    background-color: #307ECC;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    margin-bottom: 1px;
    padding-left: 12px; */
 padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    color: white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
  }
  .scroll1{height: 500px; overflow: scroll;}
.center{text-align: center;}
 .export{ margin-right:5px;position:absolute; float: right; right: 5px; }
 
 .search{cursor: pointer;}
 
    th.ui-th-column div{
        white-space:normal !important;
        height:auto !important;
        padding:2px;
    }
    
    #outdesc:hover div.desc{
        visibility: visible;
    }
    
    .desc{
        float:left;
        position: absolute;
        visibility: hidden;
        width: 130px;
        padding: 5px;
        color: #000;
        background: #E6EBF4; 
        box-shadow: 2px 2px 2px 2px #888888;
    }
    
    .hover {
     position:relative;
    }

    .tooltip {
      top:0px;
      left: 130px;
      width:120px;
      background-color:white;
      color:black;
      border-radius:5px;
      opacity:0;
      padding: 5px;
      position:absolute;
      -webkit-transition: opacity 0.5s;
      -moz-transition:  opacity 0.5s;
      -ms-transition: opacity 0.5s;
      -o-transition:  opacity 0.5s;
      transition:  opacity 0.5s;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 0, 50, 0.41);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 0, 50, 0.41);
      box-shadow:         0px 0px 5px 0px rgba(50, 0, 50, 0.41);
    }
    
    .hover:hover .tooltip {
        opacity:1;
    }
    
    table.scroll {
        width: 100%; /* 140px * 5 column + 16px scrollbar width */
        border-spacing: 0;
    }

    .scroll tbody, .scroll thead tr { 
        display: block; 
        //height: 300px;
        //width: 1800px;
        width:auto;
        //overflow-y: hidden;
        //overflow-x: hidden;
    }

    .scroll tbody {
        height: 400px;
        width: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .scroll tbody td, .scroll thead th {
        width:  169px;
        //width:  10%;
        border: 0px;
    }

    .scroll thead th:last-child {
        width:169px; /* 140px + 16px scrollbar width */
        //width:  10%;
    }
    .export{ margin-right:5px;position:absolute; float: right; right: 5px; }
    
    .employeeDivReports{
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    
    