

.header-title2{
	position: relative;
	background-image: url('images/login/application.png');
	width: 214px;
	height: 50px;
	margin-left: 100px;
	top: 20px;
}

.qualfon-image{
	position: relative;
	float: left;
}

.other-wrapper{
	position: relative;
	float: right;
	margin-right: 110px;
}

.other-image1{
	position: relative;
	background-image: url('images/login/qualfon.png');
	width: 226px;
	height: 50px;
}

.other-image2{
	position: relative;
	background-image: url('images/login/ph.png');
	background-repeat: no-repeat;
	width: 131px;
	height: 31px;
	margin-left: 50px;
}

.other-image3{
	position: relative;
	background-image: url('images/login/strides-big.png');
	background-repeat: no-repeat;
	top: 30px;
	background-size: 258px auto;
	width: 260px;
	height: 125px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.footer-c{
	position: absolute;
	bottom: 20px;
	right: 50px;
	font-size: 18px;
}


/* override */
@media only screen and (max-width:690px){
   /* styles for mobile browsers smaller than 480px; (iPhone) */
   .qualfon-image {
		display: none;
	}
}
