/*dt {
	line-height: 30px;
}*/
.bold {
	font-weight: bold;
}
textarea.width-auto {
	width: auto !important;
}

.ellipsis {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

#cheat_btn_add{
	float: right;
	top: 10px;
}

.modal-header{
	padding: 5px !important;
}

/* COLOR */
.bg-red{
	color: #fff;
	background-color: #d15b47 !important;
}
.bg-orange{
	color: #fff;
	background-color: #ffb752 !important;
}
.bg-blue{
	color: #fff;
	background-color: #428bca !important;
}
.bg-ligh_blue{
	color: #fff;
	background-color: #6fb3e0 !important;
}
.bg-dark_gray{
	color: #fff;
	background-color: #555 !important;
}
.bg-light_gray{
	color: #fff;
	background-color: #abbac3 !important;
}
.bg-green{
	color: #fff;
	background-color: #87b87f !important;
}
.bg_error{
	background-color: #ebccd1 !important;
}
.bg_warning{
	background-color: #faebcc !important;
}
.bg_success{
	background-color: #d6e9c6 !important;
}
.bg_info{
	background-color: #bce8f1 !important;
}


.margin-xs{margin: 2px !important}.margin-s{margin: 5px !important}.margin-xm{margin: 8px !important}.margin-m{margin: 10px !important}.margin-l{margin: 15px !important}.margin-xl{margin: 20px !important}.margin-xxl{margin: 25px !important}
.margin-left-xs{margin-left: 2px !important}.margin-left-s{margin-left: 5px !important}.margin-left-xm{margin-left: 8px !important}.margin-left-m{margin-left: 10px !important}.margin-left-l{margin-left: 15px !important}.margin-left-xl{margin-left: 20px !important}.margin-left-xxl{margin-left: 25px !important}
.margin-right-xs{margin-right: 2px !important}.margin-right-s{margin-right: 5px !important}.margin-right-xm{margin-right: 8px !important}.margin-right-m{margin-right: 10px !important}.margin-right-l{margin-right: 15px !important}.margin-right-xl{margin-right: 20px !important}.margin-right-xxl{margin-right: 25px !important}
.margin-top-xs{margin-top: 2px !important}.margin-top-s{margin-top: 5px !important}.margin-top-xm{margin-top: 8px !important}.margin-top-m{margin-top: 10px !important}.margin-top-l{margin-top: 15px !important}.margin-top-xl{margin-top: 20px !important}.margin-top-xxl{margin-top: 25px !important}
.margin-bottom-xs{margin-bottom: 2px !important}.margin-bottom-s{margin-bottom: 5px !important}.margin-bottom-xm{margin-bottom: 8px !important}.margin-bottom-m{margin-bottom: 10px !important}.margin-bottom-l{margin-bottom: 15px !important}.margin-bottom-xl{margin-bottom: 20px !important}.margin-bottom-xxl{margin-bottom: 25px !important}

.padding-xs{padding: 2px !important}.padding-s{padding: 5px !important}.padding-xm{padding: 8px !important}.padding-m{padding: 10px !important}.padding-l{padding: 15px !important}.padding-xl{padding: 20px !important}.padding-xxl{padding: 25px !important}
.padding-left-xs{padding-left: 2px !important}.padding-left-s{padding-left: 5px !important}.padding-left-xm{padding-left: 8px !important}.padding-left-m{padding-left: 10px !important}.padding-left-l{padding-left: 15px !important}.padding-left-xl{padding-left: 20px !important}.padding-left-xxl{padding-left: 25px !important}
.padding-right-xs{padding-right: 2px !important}.padding-right-s{padding-right: 5px !important}.padding-right-xm{padding-right: 8px !important}.padding-right-m{padding-right: 10px !important}.padding-right-l{padding-right: 15px !important}.padding-right-xl{padding-right: 20px !important}.padding-right-xxl{padding-right: 25px !important}
.padding-top-xs{padding-top: 2px !important}.padding-top-s{padding-top: 5px !important}.padding-top-xm{padding-top: 8px !important}.padding-top-m{padding-top: 10px !important}.padding-top-l{padding-top: 15px !important}.padding-top-xl{padding-top: 20px !important}.padding-top-xxl{padding-top: 25px !important}
.padding-bottom-xs{padding-bottom: 2px !important}.padding-bottom-s{padding-bottom: 5px !important}.padding-bottom-xm{padding-bottom: 8px !important}.padding-bottom-m{padding-bottom: 10px !important}.padding-bottom-l{padding-bottom: 15px !important}.padding-bottom-xl{padding-bottom: 20px !important}.padding-bottom-xxl{padding-bottom: 25px !important}


.margin-xs-ng{margin: -2px !important}.margin-s-ng{margin: -5px !important}.margin-xm-ng{margin: -8px !important}.margin-m-ng{margin: -10px !important}.margin-l-ng{margin: -15px !important}.margin-xl-ng{margin: -20px !important}.margin-xxl-ng{margin: -25px !important}
.margin-left-xs-ng{margin-left: -2px !important}.margin-left-s-ng{margin-left: -5px !important}.margin-left-xm-ng{margin-left: -8px !important}.margin-left-m-ng{margin-left: -10px !important}.margin-left-l-ng{margin-left: -15px !important}.margin-left-xl-ng{margin-left: -20px !important}.margin-left-xxl-ng{margin-left: -25px !important}
.margin-right-xs-ng{margin-right: -2px !important}.margin-right-s-ng{margin-right: -5px !important}.margin-right-xm-ng{margin-right: -8px !important}.margin-right-m-ng{margin-right: -10px !important}.margin-right-l-ng{margin-right: -15px !important}.margin-right-xl-ng{margin-right: -20px !important}.margin-right-xxl-ng{margin-right: -25px !important}
.margin-top-xs-ng{margin-top: -2px !important}.margin-top-s-ng{margin-top: -5px !important}.margin-top-xm-ng{margin-top: -8px !important}.margin-top-m-ng{margin-top: -10px !important}.margin-top-l-ng{margin-top: -15px !important}.margin-top-xl-ng{margin-top: -20px !important}.margin-top-xxl-ng{margin-top: -25px !important}
.margin-bottom-xs-ng{margin-bottom: -2px !important}.margin-bottom-s-ng{margin-bottom: -5px !important}.margin-bottom-xm-ng{margin-bottom: -8px !important}.margin-bottom-m-ng{margin-bottom: -10px !important}.margin-bottom-l-ng{margin-bottom: -15px !important}.margin-bottom-xl-ng{margin-bottom: -20px !important}.margin-bottom-xxl-ng{margin-bottom: -25px !important}

.padding-xs-ng{padding: -2px !important}.padding-s-ng{padding: -5px !important}.padding-xm-ng{padding: -8px !important}.padding-m-ng{padding: -10px !important}.padding-l-ng{padding: -15px !important}.padding-xl-ng{padding: -20px !important}.padding-xxl-ng{padding: -25px !important}
.padding-left-xs-ng{padding-left: -2px !important}.padding-left-s-ng{padding-left: -5px !important}.padding-left-xm-ng{padding-left: -8px !important}.padding-left-m-ng{padding-left: -10px !important}.padding-left-l-ng{padding-left: -15px !important}.padding-left-xl-ng{padding-left: -20px !important}.padding-left-xxl-ng{padding-left: -25px !important}
.padding-right-xs-ng{padding-right: -2px !important}.padding-right-s-ng{padding-right: -5px !important}.padding-right-xm-ng{padding-right: -8px !important}.padding-right-m-ng{padding-right: -10px !important}.padding-right-l-ng{padding-right: -15px !important}.padding-right-xl-ng{padding-right: -20px !important}.padding-right-xxl-ng{padding-right: -25px !important}
.padding-top-xs-ng{padding-top: -2px !important}.padding-top-s-ng{padding-top: -5px !important}.padding-top-xm-ng{padding-top: -8px !important}.padding-top-m-ng{padding-top: -10px !important}.padding-top-l-ng{padding-top: -15px !important}.padding-top-xl-ng{padding-top: -20px !important}.padding-top-xxl-ng{padding-top: -25px !important}
.padding-bottom-xs-ng{padding-bottom: -2px !important}.padding-bottom-s-ng{padding-bottom: -5px !important}.padding-bottom-xm-ng{padding-bottom: -8px !important}.padding-bottom-m-ng{padding-bottom: -10px !important}.padding-bottom-l-ng{padding-bottom: -15px !important}.padding-bottom-xl-ng{padding-bottom: -20px !important}.padding-bottom-xxl-ng{padding-bottom: -25px !important}


.title-primary .ui-jqgrid-titlebar{background-color: #307ecc !important; color: white !important;}
.title-warning .ui-jqgrid-titlebar{background-color: #ffb752 !important; color: white !important;}
.title-danger .ui-jqgrid-titlebar{background-color: #d15b47 !important; color: white !important;}
.title-success .ui-jqgrid-titlebar{background-color: #87b87f !important; color: white !important;}

.head-primary thead th{background-color: #307ecc !important}
.head-primary thead th div{color: #e5e5e5;}
.head-primary thead th div:hover{color: white;}

.head-primary thead th[aria-selected="true"] div span:not(.ui-state-disabled),
.head-primary thead th[aria-selected="true"] div{
  color: #31708f !important;
}
.head-primary thead th[aria-selected="true"]{
  background-image: none !important;
  background-color: #5abbfb !important;
}

.head-danger thead th{background-color: #d15b47 !important}
.head-danger thead th div{color: #e5e5e5;}
.head-danger thead th div:hover{color: white;}

.head-danger thead th[aria-selected="true"] div span:not(.ui-state-disabled),
.head-danger thead th[aria-selected="true"] div{
  color: #a94442 !important;
}
.head-danger thead th[aria-selected="true"]{
  background-image: none !important;
  background-color: #eb7561 !important;
}

.head-warning thead th{background-color: #ffb752 !important}
.head-warning thead th div{color: white;}
.head-warning thead th div:hover{color: #e5e5e5;}

.head-warning thead th[aria-selected="true"] div span:not(.ui-state-disabled),
.head-warning thead th[aria-selected="true"] div{
  color: #8a6d3b !important;
}
.head-warning thead th[aria-selected="true"]{
  background-image: none !important;
  background-color: #f8d36e !important;
}

.head-success thead th{background-color: #87b87f !important}
.head-success thead th div{color: white;}
.head-success thead th div:hover{color: #e5e5e5;}

.head-success thead th[aria-selected="true"] div span:not(.ui-state-disabled),
.head-success thead th[aria-selected="true"] div{
  color: #3c763d !important;
}
.head-success thead th[aria-selected="true"]{
  background-image: none !important;
  background-color: #9fd097 !important;
}

.u-line{
	border-bottom: 1px solid #bbbbbb;
}

.u-line.dashed{
	border-bottom: 1px dashed #bbbbbb;
}

.answer .tags,
.lined-input{
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: 1px solid #d5d5d5;
}

.answer .tags{
	margin-left: 10px !important;
	width: inherit;
}

.answer > div label,
.answer > label,
.answer > input{
	margin-left: 10px;
}

.dialog_buttons{
	position: relative;
	margin-left: -13px !important;
	margin-right: -13px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	bottom: -7px !important;
}

#choice_answer_data .question:not(:last-child){
	border-bottom: 1px dotted #e8e8e8;
	padding-bottom: 6px;
}

.custom-dialog tr:not(:last-child){
	border-bottom: 1px dotted #e8e8e8;
}

.custom-dialog tr td{
	padding: 6px 4px;
}

.ace-icon.cursor{
	cursor: pointer;
}

.ace-icon.cursor:hover{
	font-size: 110% !important;
}

.has-pagination .widget-body .content .scroll-content{
	position: relative !important;
	margin-top: -3px !important;
}
.has-pagination .widget-body .content{
	padding: 4px 8px !important;
	font-size: 11px !important;
}

.has-pagination .widget-body .widget-main div:not(:last-child){
	margin-bottom: 8px !important;
}

.footrow {
	border-color: #c5d0dc !important;
}

.label-text{
	margin-bottom: 0px;
}

.label-text p{
	position: relative;
	top: 5px !important;
	padding-left: 10px;
}

.width_max{
	width: 100% !important;
}

/* Global style by Rey Guapo*/
em {
	display: block;
}
.full_width {
	width: 100% !important;
}
.center_text{
	text-align: center !important;
}
/* Override Fixes by Rey */

/* fix height of frozen column header*/
.ui-jqgrid-htable {
	height: 100% !important;
}
/* but white bg on even jqgrid table rows */
 tbody tr:nth-child(even) {
	background: #fff;
 }
.ui-jqgrid .ui-jqgrid-htable th div{
	text-align: center !important;
 }
 /* hide scroll bar of widget-main */
 .widget-main-no-scrollbar{
    overflow: hidden !important;
	padding-left: 0px !important;
}
 /* table header */
.bg-danger {
    background-color: #d4ebf9;
}
.ui-jqgrid .ui-jqgrid-hdiv {
	overflow: hidden;
}
.home_touchcommerce {
	background: url(../images/bg.png) no-repeat left top !important;
	height: 768px;
	background-image-size: 100px auto;
/*}
.widget-toolbar {
	float: left !important;
}*/
/* file upload */
#id-input-file-2 {
	width: 380px;
	height: auto;
}
/* jqgrid override */
.ace-settings-container {
	margin-top: 6px;
	z-index: 1051;
}
.margin_right_20 {
	margin-right: 20px;
}
.margin_left_10 {
	margin-left: 10px;
}
.margin_left_20 {
	margin-left: 20px;
}
.padding_left_20 {
	padding-left: 20px;
}
.padding_top_20 {
	padding-top: 20px;
}
#btn_search {
	margin: 0px 0px 0px 0px;
}
.no_border {
	border: none !important;
}
.hide_show_columns_content{
	height: auto;
	max-height: 300px;
	overflow-y: auto;
}

/* jqGrid header wrap */
.ui-th-div-ie {
	white-space:normal !important;
	height:auto !important;
}
th.ui-th-column div{
	white-space:normal !important;
	height:auto !important;
	padding:2px;
}

